<noscript><h3>{{ step }}</h3></noscript>
<table class="table-fixed">
  <tbody>
    <tr>
      <td class="actions">
          {% include "horizon/common/_form_fields.html" %}
      </td>
      <td class="help_text">
          {{ step.get_help_text }}
      </td>
    </tr>
  </tbody>
</table>

<div id="id_resource_class_flavors_table">
    {% include 'infrastructure/resource_management/resource_classes/_formset.html' with formset=flavors_formset %}
</div>

<script type="text/javascript">
(function () {
    // show the flavors table only when service_type is compute
    var toggle_table = function (value) {
        if (value && value !== 'compute') {
            $('#id_resource_class_flavors_table').show();
        } else {
            $('#id_resource_class_flavors_table').hide();
        }
    };
    toggle_table($('#id_service_type').val())

    $('#id_service_type').change(function () {
        toggle_table($('#id_service_type').val());
    });

    var empty_row = $('#{{ formset.prefix }}-formset-table tbody tr:last').clone()
} ());
</script>
