<noscript><h3>{{ step }}</h3></noscript>
<table class="table-fixed">
  <tbody>
    <tr>
      <td class="actions">
          {% include "horizon/common/_form_fields.html" %}
      </td>
      <td class="help_text">
          {{ step.get_help_text }}
      </td>
    </tr>
  </tbody>
</table>

<div id="id_resource_class_flavors_table">
    {{ flavors_table.render }}
</div>

<script type="text/javascript">
(function () {
    // show the flavors table only when service_type is compute
    var init_table = function () {
        var toggle_table = function (value) {
            if (value === 'compute') {
                $('#id_resource_class_flavors_table').show();
            } else {
                $('#id_resource_class_flavors_table').hide();
            }
        };

        toggle_table($('#id_service_type').val())
        $('#id_service_type').change(function () {
            toggle_table($('#id_service_type').val());
        });
    };

    if (typeof($) !== 'undefined') {
        $(init_table);
    } else {
        addHorizonLoadEvent(init_table);
    }
} ());
</script>
