{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}register_nodes_form{% endblock %}
{% block modal_id %}register_nodes_modal{% endblock %}
{% block modal-header %}{% trans "Register Nodes" %}{% endblock %}

{% block modal-body %}
{% include "infrastructure/deploy_overview/nodes_formset.html" with formset=formset %}
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit"
         value="{% trans "Register nodes" %}" />
  <a href="{% url "horizon:infrastructure:deploy_overview:index" %}"
     class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}

