{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}create_image_form{% endblock %}
{% block form_action %}{% url 'horizon:infrastructure:images:create' %}{% endblock %}
{% block form_attrs %}enctype="multipart/form-data"{% endblock %}

{% block modal_id %}create_image_modal{% endblock %}
{% block modal-header %}{% trans "Create Image" %}{% endblock %}

{% block modal-body-right %}
<h3>{% trans "Description" %}:</h3>
<p>{% trans "Modify different properties of an image." %}</p>
{% endblock %}
