{% extends 'infrastructure/base.html' %}
{% load i18n %}
{% block title %}{% trans 'Provisioning Images' %}{% endblock %}

{% block page_header %}
  {% include 'horizon/common/_items_count_domain_page_header.html' with title=_('Provisioning Images') %}
{% endblock page_header %}

{% block main %}
<div class="row">
  <div class="col-xs-12">
    <div class="no-table-title"> {% comment %}This will likely move to the tables Meta in the future{% endcomment %}
      {{ table.render }}
    </div>
  </div>
</div>

{% endblock %}
