/* Additional CSS for infrastructure. */

table.capacities{
  &.overall_usage{
    float: right;
  }
  td{
    padding: 3px;
    &.capacity_label{
      width: 60px;
      text-align: right;
      padding-right: 5px;
    }
    & div.capacity_bar{
      line-height: 0;
      width: 200px;
    }
  }
}
