/* Additional CSS for infrastructure. */

table.capacities{
  &.overall_usage{
    /*float: right;*/
  }
  td{
    padding: 3px;
    &.capacity_label{
      width: 60px;
      text-align: right;
      padding-right: 5px;
    }
    & div.capacity_bar{
      line-height: 0;
      width: 200px;
    }
  }
}


svg {
  .axis {
    path, line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
  }
}

.communication_chart_wrapper {
  display:inline-block;
  vertical-align: middle;
  width: 38%;
}

.communication_chart_connection {
  display:inline-block;
  /*min-width: 100px;
  max-width: 400px;*/
  width: 18%;
  height: 30px;
  vertical-align: middle;
}

.circles_chart_time_picker {
  float: right;
}
