{% load i18n %}
{% load url from future%}

<div class="row-fluid">
  <div class="span6">
    <h3>{% trans "Roles" %}</h3>
    <hr />
    {% for role in roles %}
      <h4><a href="{% url 'horizon:infrastructure:overcloud:role' overcloud.id role.id%}">{{ role.node_count }} {{ role.name }}</a></h4>
      {% if role.error_node_count > 0 %}
         {{ role.error_node_count }} {% trans "nodes are down" %}
         <br />
      {% endif %}
      {% if role.other_node_count > 0 %}
         {{ role.other_node_count }} {% trans "nodes are building" %}
         <br />
      {% endif %}
      {% if role.running_node_percentage %}
         {{ role.running_node_percentage }} {% trans "% of nodes are running" %}
         <br />
      {% endif %}
      <hr />
    {% endfor %}
  </div>
  <div class="span6">
    <h3>{% trans "Role Distribution" %}</h3>
  </div>
</div>
