{% extends 'infrastructure/base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans 'My OpenStack Deployment' %}{% endblock %}

{% block css %}
  {% if stack.is_deploying %}
    <meta http-equiv="refresh" content="30">
  {% endif %}
  {{ block.super }}
{% endblock %}

{% block page_header %}
  {% include 'horizon/common/_domain_page_header.html' with title=_('My OpenStack Deployment') %}
{% endblock page_header %}

{% block main %}
<div class="row">
  <div class="col-xs-12">
    <div class="actions page-actions pull-right">
        <a href="{% url 'horizon:infrastructure:overcloud:undeploy_confirmation' stack.id %}"
           class="btn btn-danger ajax-modal
            {% if not stack.is_deployed and not stack.is_failed %}disabled{% endif %}">
            <i class="icon-fire icon-white"></i>
            {% trans "Undeploy" %}
        </a>
    </div>
    {{ tab_group.render }}
  </div>
</div>
{% endblock %}
