{% extends 'infrastructure/base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans 'My OpenStack Deployment' %}{% endblock %}

{% block css %}
  {% if overcloud.is_deploying %}
    <meta http-equiv="refresh" content="30">
  {% endif %}
  {{ block.super }}
{% endblock %}

{% block page_header %}
  {% include 'horizon/common/_domain_page_header.html' with title=_('My OpenStack Deployment') %}
{% endblock page_header %}

{% block main %}
<div class="row-fluid">
  <div class="span12">
    <div class="actions pull-right">
        <a href="{% url 'horizon:infrastructure:overcloud:undeploy_confirmation' overcloud.id %}"
           class="btn btn-danger ajax-modal
            {% if not overcloud.is_deployed and not overcloud.is_failed %}disabled{% endif %}">
            <i class="icon-fire icon-white"></i>
            {% trans "Undeploy" %}
        </a>
        {% comment %} no scaling for Icehouse, uncomment when ready
        <a href="{% url 'horizon:infrastructure:overcloud:scale' overcloud.id %}"
           class="btn ajax-modal
            {% if not overcloud.is_deployed %}disabled{% endif %}">
            <i class="icon-resize-full"></i>
            {% trans "Scale deployment" %}
        </a>
        {% endcomment %}
    </div>
    {{ tab_group.render }}
  </div>
</div>
{% endblock %}
