{% extends 'infrastructure/base.html' %}
{% load i18n %}
{% load url from future %}
{% block title %}{% trans 'Role' %}: {{ role.name }}{% endblock %}

{% block page_header %}
  {% include 'horizon/common/_domain_page_header.html' with title=_('Deployment Role: ')|add:role.name %}
{% endblock page_header %}

{% block main %}
<div class="row-fluid">
  <div class="span12">
    <br />
    <h4>{% blocktrans count counter=nodes|length %}{{ counter }} instance{% plural %}{{ counter }} instances{% endblocktrans %}</h4>
    <br />
    <h4>node profile</h4>
    <p>{{ flavor.name }}: {{ flavor.get_keys.cpu_arch }} | {{ flavor.vcpus }} {% trans "CPU" %} | {{ flavor.ram }} {% trans "MB RAM" %} | {{ flavor.disk }} {% trans "GB HDD" %}</p>
    <h4>{{ image_name }}</h4>

    {{ table.render }}
  </div>
</div>
{% endblock %}
