{% extends 'infrastructure/base.html' %}
{% load i18n %}
{% load url from future %}
{% block title %}{% trans 'Resource Category' %}: {{ category.name }}{% endblock %}

{% block page_header %}
  {% include 'horizon/common/_domain_page_header.html' with title=_('Resource Category: ')|add:category.name %}
{% endblock page_header %}

{% block main %}
<div class="row-fluid">
  <div class="span12">
    <hr />
    <h4>{{ nodes|length }} {% trans 'nodes' %}</h4>
    <br />
    <h4>{{ image.name }}</h4>

    {{ table.render }}
  </div>
</div>
{% endblock %}
