{% load i18n %}
{% load url from future%}

<noscript><h3>{{ step }}</h3></noscript>
<p>{{ step.get_help_text }}</p>

<div class="row-fluid">
  <div class="span8">
    <div class="pull-right">
      <span id="free-nodes">{{ step.get_free_nodes }}</span> {% trans "free nodes" %}
    </div>
    <h2>{% trans "Roles" %}</h2>
    <div class="widget">
      {% include 'horizon/common/_form_errors.html' with form=form %}
      <table class="table">
        <tr>
          <th>{% trans "Name" %}</th>
          <th>{% trans "Node profiles" %}</th>
          <th>{% trans "Node count" %}</th>
        </tr>
        {% for role, label, fields in form.roles_fieldset %}
          <tbody>
          {% for field in fields %}
            <tr>
              {% if forloop.first %}
                <td rowspan="{{ fields|length }}">
                  <a
                    href="{% url 'horizon:infrastructure:overcloud:role-edit' role %}"
                    class="ajax-modal"
                  ><i class="icon-pencil"></i></a>
                  {{ label }}
                </td>
              {% endif %}
              <td>
                {% if field.field.label %}
                  {{ field.label }}
                {% else %}
                  (<a
                    href="{% url 'horizon:infrastructure:overcloud:role-edit' role %}"
                    class="ajax-modal"
                   >{% trans "Add a node profile" %}</a>)
                {% endif %}
              </td>
              <td>{{ field }}</td>
            </tr>
          {% endfor %}
          </tbody>
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="span4">
    <div class="widget">
      <h2>Configuration</h2>
      <p>{% trans "Configuration options will be auto-detected." %}</p>
      <p><a href="#undeployed_overcloud__deployed_configuration"
            data-toggle="tab">{% trans "See and change defaults." %}</a></p>
    </div>
  </div>
</div>
<script type="text/javascript">
(window.$ || window.addHorizonLoadEvent)(function () {
    $('p > a[href="#undeployed_overcloud__deployed_configuration"]'
     ).click(function () {
       $('li > a[href="#undeployed_overcloud__deployed_configuration"]').tab('show');
    });
});
</script>
