{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}configuration_form{% endblock %}
{% block form_action %}{% url 'horizon:infrastructure:parameters:simple_service_configuration' %}{% endblock %}

{% block modal_id %}provision_modal{% endblock %}
{% block modal-header %}{% trans "Service Configuration" %}{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description:" %}</h3>
    <p>
        {% trans "Configure values that cannot be defaulted" %}
    </p>
    <p>
        {% trans "These values cannot be defaulted. Please choose values for them and save them before you deploy your overcloud." %}
    </p>
</div>
{% endblock %}
