{% extends 'infrastructure/base.html' %}
{% load i18n %}
{% load url from future %}
{% block title %}{% trans 'Service Configuration' %}{% endblock %}

{% block page_header %}
  {% include 'horizon/common/_items_count_domain_page_header.html' with title=_('Service Configuration') %}
{% endblock page_header %}

{% block main %}
<div class="row">
  <div class="col-xs-2">
    <ul class="nav nav-pills nav-stacked nav-arrow" role="tablist">
        <li class="active"><a href="#global" role="tab" data-toggle="tab">{% trans "Global" %}</a></li>
        <li><a href="#controller" role="tab" data-toggle="tab">{% trans "Controller" %}</a></li>
        <li><a href="#compute" role="tab" data-toggle="tab">{% trans "Compute" %}</a></li>
        <li><a href="#block-storage" role="tab" data-toggle="tab">{% trans "Block Storage" %}</a></li>
        <li><a href="#object-storage" role="tab" data-toggle="tab">{% trans "Object Storage" %}</a></li>
    </ul>
  </div>
  <div class="col-xs-10">
    <div class="tab-content panel panel-default configuration-panel">
      <div class="tab-pane active" id="global">
        {{ global_parameters_table.render }}
      </div>
      <div class="tab-pane" id="controller">
        {{ controller_parameters_table.render }}
      </div>
      <div class="tab-pane" id="compute">
        {{ compute_parameters_table.render }}
      </div>
      <div class="tab-pane" id="block-storage">
        {{ block_storage_parameters_table.render }}
      </div>
      <div class="tab-pane" id="object-storage">
        {{ object_storage_parameters_table.render }}
      </div>
    </div>
  </div>
</div>

{% endblock %}
