{% load i18n %}
{{ formset.management_form }}
{% for error in formset.non_form_errors %}
  <div class="alert alert-error error">{{ error }}</div>
{% endfor %}
<div class="row register-nodes-formset" id="formset-{{ formset.prefix }}">
  <div class="col-xs-5">
    <div class="clearfix register-nav-head">
      <a class="add-node-link" href="#">
        <i class="fa fa-plus"></i> {% trans "Add Node" %}
      </a>
      <h4>Nodes to register</h4>
    </div>
    <ul class="nav nav-pills nav-stacked">
      {% for form in formset %}
      <li {% if forloop.first %}class="active"{% endif %}>
        <a href="#tab-{{ form.prefix }}" data-toggle="tab">
          {{ form.get_name }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-xs-7">
    <div class="tab-content">
      {% for form in formset %}
        {% include form_template with form=form active=forloop.first %}
      {% endfor %}
    </div>
  </div>
</div>
<script type="text/javascript">
(window.$ || window.addHorizonLoadEvent)(function () {
  var prefix = '{{ formset.prefix|escapejs }}';
  var emptyFormHtml = '{% filter escapejs %}{% include form_template with form=formset.empty_form %}{% endfilter %}';
  tuskar.menuFormset.init(prefix, emptyFormHtml);
});
</script>
