{% load i18n sizeformat %}
{% load url from future %}

<div class="info row-fluid detail">
  <div class="span4">
    <h4>{% trans "About" %}</h4>
    <hr class="header_rule">
    <dl>
      <dt>{% trans "Name" %}</dt>
      <dd>{{ flavor.name|default:_("None") }}</dd>
      <dt>{% trans "Resource Class" %}</dt>
      <dd>{{ resource_class.name|default:_("None") }}</dd>
    </dl>
  </div>
  <div class="span4">
    <h4>{% trans "Specification" %}</h4>
    <hr class="header_rule">
    <dl>
      <dt>{% trans "VCPU" %}</dt>
      <dd>{{ flavor.cpu.value }}</dd>
      <dt>{% trans "RAM" %}</dt>
      <dd>{{ flavor.memory.value }} {{ flavor.memory.unit }}</dd>
      <dt>{% trans "Root Disk" %}</dt>
      <dd>{{ flavor.storage.value }} {{ flavor.storage.unit }}</dd>
      <dt>{% trans "Ephemeral Disk" %}</dt>
      <dd>{{ flavor.ephemeral_disk.value }} {{ flavor.ephemeral_disk.unit }}</dd>
      <dt>{% trans "Swap Disk" %}</dt>
      <dd>{{ flavor.swap_disk.value }} {{ flavor.swap_disk.unit }}</dd>
    </dl>
  </div>
</div>
