{% load form_helpers %}
<div class="form-group">
  <div class="row{% if field.errors %} error{% endif %}{% if required or field.required %} required{% endif %}">
    <label class="col-xs-4">{{ field.label }}</label>
    <div class="col-xs-6">{{ field|add_bootstrap_class }}</div>
    <div class="col-xs-2 muted">{{ extra_text|default:'' }}</div>
  </div>
  {% if field.errors %}
    <div class="error">
      {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>
  {% endif %}
</div>
