{% load i18n %}

<div class="well tab-pane{% if active %} active{% endif %}"
     id="tab-{{ form.prefix }}">
  <div class="form form-inline"><fieldset>
    <div class="row">
      <h4>{% trans "Node Detail" %}</h4>
    </div>
    <div class="row">
      <h5>{% trans "Power Management" %}</h5>
      {% include 'infrastructure/nodes/_nodes_formset_field.html' with field=form.driver required=True %}
      {% include 'infrastructure/nodes/_nodes_formset_field.html' with field=form.ipmi_address %}
      {% include 'infrastructure/nodes/_nodes_formset_field.html' with field=form.ipmi_username %}
      {% include 'infrastructure/nodes/_nodes_formset_field.html' with field=form.ipmi_password %}
      {% include 'infrastructure/nodes/_nodes_formset_field.html' with field=form.ssh_address %}
      {% include 'infrastructure/nodes/_nodes_formset_field.html' with field=form.ssh_username %}
      {% include 'infrastructure/nodes/_nodes_formset_field.html' with field=form.ssh_key_contents %}
    </div>
    <div class="row">
      {% include 'infrastructure/nodes/_nodes_formset_field.html' with field=form.do_autodiscovery %}
    </div>
    <div class="row">
      <h5>{% trans "Networking" %}</h5>
      {% include 'infrastructure/nodes/_nodes_formset_field.html' with field=form.mac_addresses required=True %}
    </div>
    <div class="row">
      <h5>{% trans "Hardware" %}</h5>
      {% include 'infrastructure/nodes/_nodes_formset_field.html' with field=form.cpu_arch required=True %}
      {% include 'infrastructure/nodes/_nodes_formset_field.html' with field=form.cpus extra_text=_('units') required=True %}
      {% include 'infrastructure/nodes/_nodes_formset_field.html' with field=form.memory_mb extra_text=_('MB') required=True %}
      {% include 'infrastructure/nodes/_nodes_formset_field.html' with field=form.local_gb extra_text=_('GB') required=True %}
    </div>
  </fieldset></div>
</div>

<script type="text/javascript">
(window.$ || window.addHorizonLoadEvent)(function () {
  var form_prefix = '{{ form.prefix|escapejs }}';
  var $form = $('#tab-' + form_prefix);
  var $nav_link = $('a[href="#' + $form.attr('id') + '"]');
  var undefined_name = '{{ form.get_name|escapejs }}';

  $form.find('input[name$="-ipmi_address"]').change(function () {
    $nav_link.html($(this).val() || undefined_name);
  });
});
</script>
