{% load i18n %}
{% load url from future%}


<div class="row-fluid">
  <div class="span8">
    <div class="widget">
      <h2>{% trans 'Health Status' %}</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <a href="{% url 'horizon:infrastructure:nodes:index' %}?tab=nodes__deployed">
                {% trans 'Deployed Nodes' %}
                ({{ deployed_nodes|length|default:0 }})
              </a>
            </td>
            <td>
              {% if deployed_nodes_down %}
                <i class="icon-exclamation-sign"></i>
                {% if deployed_nodes_down|length == 1 %}
                  {% comment %}
                    Replace id with uuid when ironicclient is used instead baremetalclient
                  {% endcomment %}
                  {% url 'horizon:infrastructure:nodes:detail' deployed_nodes_down.0.id as node_detail_url %}
                {% else %}
                  {% url 'horizon:infrastructure:nodes:index' as nodes_index_url %}
                {% endif %}

                {% blocktrans count down_count=deployed_nodes_down|length %}
                  <a href="{{ node_detail_url }}">{{ down_count }} node</a> is down
                {% plural %}
                  <a href="{{ nodes_index_url }}?tab=nodes__deployed">{{ down_count }} nodes</a> are down
                {% endblocktrans %}
              {% else %}
                <i class="icon-ok"></i>
                {% trans 'All nodes are performing correctly' %}
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>
              <a href="{% url 'horizon:infrastructure:nodes:index' %}?tab=nodes__free">
                {% trans 'Free Nodes' %}
                ({{ free_nodes|length|default:0 }})
              </a>
            </td>
            <td>
              {% if free_nodes_down %}
                <i class="icon-exclamation-sign"></i>
                {% if free_nodes_down|length == 1 %}
                  {% comment %}
                    Replace id with uuid when ironicclient is used instead baremetalclient
                  {% endcomment %}
                  {% url 'horizon:infrastructure:nodes:detail' free_nodes_down.0.id as node_detail_url %}
                {% else %}
                  {% url 'horizon:infrastructure:nodes:index' as nodes_index_url %}
                {% endif %}

                {% blocktrans count down_count=free_nodes_down|length %}
                  <a href="{{ node_detail_url }}">{{ down_count }} node</a> is down
                {% plural %}
                  <a href="{{ nodes_index_url }}?tab=nodes__free">{{ down_count }} nodes</a> are down
                {% endblocktrans %}
              {% else %}
                <i class="icon-ok"></i>
                {% trans 'All nodes are performing correctly' %}
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="span4">
    <div class="widget">
      <h2>{% trans 'Provisioning Status' %}</h2>
      <p>{% trans 'No statistics available' %}</p>
    </div>
    <div class="widget">
      <h2>{% trans 'Power Status' %}</h2>
      <p>{% trans 'No statistics available' %}</p>
    </div>
  </div>
</div>
