{% load i18n %}
{% load url from future%}


<div class="row-fluid">
  <div class="span8">
    <div class="widget">
      <h2>{% trans 'Health Status' %}</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <a href="{% url 'horizon:infrastructure:nodes:index' %}?tab=nodes__deployed">
                {% trans 'Deployed Nodes' %}
                ({{ nodes_deployed|default:0 }})
              </a>
            </td>
            <td>
              <i class="icon-exclamation-sign"></i>
              <strong>1 node</strong>
              is down
            </td>
            <td>
              <i class="icon-ok"></i>
              <strong>75% of nodes</strong>
              are performing correctly
            </td>
          </tr>
          <tr>
            <td>
              <a href="{% url 'horizon:infrastructure:nodes:index' %}?tab=nodes__free">
                {% trans 'Free Nodes' %}
                ({{ nodes_free|default:0 }})
              </a>
            </td>
            <td>
              <i class="icon-ok"></i>
              <strong>100% of nodes</strong>
              are performing correctly
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="span4">
    <div class="widget">
      <h2>{% trans 'Provisioning Status' %}</h2>
      <p>{% trans 'No statistics available' %}</p>
    </div>
    <div class="widget">
      <h2>{% trans 'Power Status' %}</h2>
      <p>{% trans 'No statistics available' %}</p>
    </div>
  </div>
</div>
