{% extends 'infrastructure/base.html' %}
{% load i18n %}
{% block title %}{% trans 'Node details' %}{% endblock %}

{% block main %}
<div class="row-fluid">
  <div class="span12">
    <h3>{% trans "Node Details" %}: {{ node.uuid }}</h3>
    <div class="status row-fluid detail">
      <h4>{% trans "Info" %}</h4>
      <dl>
        <dt>{% trans "MAC Addresses" %}</dt>
        <dd>{{ node.addresses|join:", " }}</dd>
        <dt>{% trans "UUID" %}</dt>
        <dd>{{ node.uuid }}</dd>
        <dt>{% trans "Instance UUID" %}</dt>
        <dd>{{ node.instance_uuid }}</dd>
        <dt>{% trans "Driver" %}</dt>
        <dd>{{ node.driver }}</dd>
        <dt>{% trans "Power state" %}</dt>
        <dd>{{ node.power_state }}</dd>
      </dl>
      <h4>{% trans "Driver Info" %}</h4>
      <dl>
        <dt>{% trans "IPMI address" %}</dt>
        <dd>{{ node.driver_info.ipmi_address }}</dd>
        <dt>{% trans "IPMI username" %}</dt>
        <dd>{{ node.driver_info.ipmi_username }}</dd>
        <dt>{% trans "IPMI password" %}</dt>
        <dd>{{ node.driver_info.ipmi_password }}</dd>
      </dl>
      <h4>{% trans "Properties" %}</h4>
      <dl>
        <dt>{% trans "Local disk" %}</dt>
        <dd>{{ node.properties.local_disk|filesizeformat }}</dd>
        <dt>{% trans "RAM" %}</dt>
        <dd>{{ node.properties.ram|filesizeformat }}</dd>
        <dt>{% trans "CPU" %}</dt>
        <dd>{{ node.properties.cpu }}</dd>
      </dl>
    </div>
  </div>
</div>
{% endblock %}
