{% load i18n sizeformat %}
{% load url from future %}

<div class="info row-fluid detail">
  <div class="span4">
    <h4>{% trans "About" %}</h4>
    <hr class="header_rule">
    <dl>
      <dt>{% trans "MAC Address" %}</dt>
      <dd>{{ node.mac_address|default:_("None") }}</dd>
      <dt>{% trans "Management IP" %}</dt>
      <dd>{{ node.ip_address|default:_("None") }}</dd>
      <dt>{% trans "IP Address (Other)" %}</dt>
      <dd>{{ node.ip_address_other|default:_("None") }}</dd>
      <dt>{% trans "Location" %}</dt>
      <dd>{{ node.rack.location|default:_("None") }}</dd>
      <dt>{% trans "Status" %}</dt>
      <dd>{{ node.status|default:_("None") }}</dd>
    </dl>
  </div>
  <div class="span4">
    <h4>{% trans "Resource Assignment" %}</h4>
    <hr class="header_rule">
    <dl>
      <dt>{% trans "Rack" %}</dt>
      {% if node.rack %}
      <dd><a href="{% url 'horizon:infrastructure:resource_management:racks:detail' node.rack.id %}">{{ node.rack.name|default:_("None") }}</a></dd>
      {% else %}
      <dd>{% trans "None" %}</dd>
      {% endif %}
      <dt>{% trans "Region" %}</dt>
      <dd>{{ node.region|default:_("None") }}</dd>
      <dt>{% trans "Node Type" %}</dt>
      <dd>{{ node.type|default:_("none") }}</dd>
      <dt>{% trans "Provisioned Image" %}</dt>
      <dd>{{ node.image|default:_("None") }}</dd>
    </dl>
  </div>
  <div class="span4">
    <h4>{% trans "Capacities" %}</h4>
    <hr class="header_rule">
    <table class="capacities">
      <tr>
        <td class="capacity_label">{% trans "CPU" %}:</td>
        <td>
          <div id="cpu_capacity_usage"
               class="capacity_bar"
               data-capacity-limit="{{ node.cpu.value }}"
               data-capacity-used="{{ node.cpu.usage }}"
               data-average-capacity-used="{{ 2 }}">
          </div>
        </td>
        <td>
          <a href="#" data-chart-type="modal_line_chart" data-url="/infrastructure/resource_management/racks/usage_data">{{ node.cpu.usage }}/{{ node.cpu.value }} {{ node.cpu.unit }}</a>
        </td>
      </tr>
      <tr>
        <td class="capacity_label">{% trans "RAM" %}:</td>
        <td>
          <div id="ram_capacity_usage"
               class="capacity_bar"
               data-capacity-limit="{{ node.ram.value }}"
               data-capacity-used="{{ node.ram.usage }}"
               data-average-capacity-used="{{ 12 }}">
          </div>
        </td>
        <td>
          <a href="#" data-chart-type="modal_line_chart" data-url="/infrastructure/resource_management/racks/usage_data">{{ node.ram.usage }}/{{ node.ram.value }} {{ node.ram.unit }}</a>
        </td>
      </tr>
      <tr>
        <td class="capacity_label">{% trans "Storage" %}:</td>
        <td>
          <div id="storage_capacity_usage"
               class="capacity_bar"
               data-capacity-limit="{{ node.storage.value }}"
               data-capacity-used="{{ node.storage.usage }}"
               data-average-capacity-used="{{ 6 }}">
          </div>
        </td>
        <td>
          <a href="#" data-chart-type="modal_line_chart" data-url="/infrastructure/resource_management/racks/usage_data">{{ node.storage.usage }}/{{ node.storage.value }} {{ node.storage.unit }}</a>
        </td>
      </tr>
      <tr>
        <td class="capacity_label">{% trans "Network" %}:</td>
        <td>
          <div id="network_capacity_usage"
               class="capacity_bar"
               data-capacity-limit="{{ node.network.value }}"
               data-capacity-used="{{ node.network.usage }}"
               data-average-capacity-used="{{ 40 }}">
          </div>
        </td>
        <td>
          <a href="#" data-chart-type="modal_line_chart" data-url="/infrastructure/resource_management/racks/usage_data">{{ node.network.usage }}/{{ node.network.value }} {{ node.network.unit }}</a>
        </td>
      </tr>
    </table>
  </div>
</div>
