{% load i18n %}
{% load url from future%}

{% if stack.is_deploying or stack.is_failed %}
  {% if stack.is_deploying %}
    <div class="alert alert-info">
      <div class="row">
        <div class="col-xs-2">
          <strong>Deploying...</strong>
          <div class="progress progress-striped active progress-info">
            <div class="bar bar-info" style="width:{{ progress }}%"></div>
          </div>
        </div>
  {% else %}
    <div class="alert alert-error">
      <div class="row">
        <div class="col-xs-2">
          <strong>Deployment failed</strong>
          <div class="progress progress-striped progress-danger">
            <div class="bar bar-info" style="width:{{ progress }}%"></div>
          </div>
        </div>
  {% endif %}
    <div class="col-xs-10">
      {% if last_failed_events %}
        <strong>{% trans "Last failed events:" %}</strong>
        {% for event in last_failed_events %}
        <div>
          <dl>
            <dt>{% trans "Timestamp" %}</dt>
            <dd><time datetime="{{ event.event_time }}">{{ event.event_time }}</time></dd>
            <dt>{% trans "Resource Name" %}</dt>
            <dd>{{ event.resource_name }}</dd>
            <dt>{% trans "Status" %}</dt>
            <dd>{{ event.resource_status }}</dd>
            <dt>{% trans "Reason" %}</dt>
            <dd>{{ event.resource_status_reason }}</dd>
          </dl>
        </div>
        {% endfor %}
      {% endif %}
      <a href="?tab=detail__log" data-toggle="tab" data-target="#detail__log" class="pull-right">See full log</a>
    </div>
  </div>
</div>
{% endif %}

{% if not dashboard_urls and not stack.is_deploying and not stack.is_failed %}
<div class="row">
  <div class="col-xs-8">
    {% blocktrans %}
      Your cloud is now deployed; however, it needs to be initialized.  To do so, copy the appropriate script into a file, make it executable, and run it.
    {% endblocktrans %}
    <ul>
      <li>
        {% blocktrans %}
          <a data-toggle="collapse" data-target="#devtest"><strong>Devtest</strong> cloud initialization script</a>
        {% endblocktrans %}
        <div id="devtest" class="collapse">
          <pre>
#!/usr/bin/bash

# You need to run the following commands from a machine where you have a checkout of the tripleo source code
# and direct access via SSH to your Overcloud control node ({{stack.keystone_ip}}).

set -eux

export TRIPLEO_ROOT=~/tripleo
cd $TRIPLEO_ROOT

# Be careful to source tripleorc here, some variables are rewritten below
source $TRIPLEO_ROOT/tripleorc

export OVERCLOUD_IP={{stack.keystone_ip}}

export OVERCLOUD_ADMIN_TOKEN={{plan.attributes.AdminToken}}
export OVERCLOUD_ADMIN_PASSWORD={{plan.attributes.AdminPassword}}
export OVERCLOUD_CINDER_PASSWORD={{plan.attributes.CinderPassword}}
export OVERCLOUD_GLANCE_PASSWORD={{plan.attributes.GlancePassword}}
export OVERCLOUD_HEAT_PASSWORD={{plan.attributes.HeatPassword}}
export OVERCLOUD_NEUTRON_PASSWORD={{plan.attributes.NeutronPassword}}
export OVERCLOUD_NOVA_PASSWORD={{plan.attributes.NovaPassword}}
export OVERCLOUD_SWIFT_PASSWORD={{plan.attributes.SwiftPassword}}
export OVERCLOUD_SWIFT_HASH={{plan.attributes.SwiftHashSuffix}}

OVERCLOUD_ENDPOINT="http://$OVERCLOUD_IP:5000/v2.0"
NEW_JSON=$(jq '.overcloud.password="'${OVERCLOUD_ADMIN_PASSWORD}'" | .overcloud.endpoint="'${OVERCLOUD_ENDPOINT}'" | .overcloud.endpointhost="'${OVERCLOUD_IP}'"' $TE_DATAFILE)
echo $NEW_JSON &gt; $TE_DATAFILE

source ./tripleo-incubator/overcloudrc

init-keystone -p $OVERCLOUD_ADMIN_PASSWORD -t $OVERCLOUD_ADMIN_TOKEN \
    -o $OVERCLOUD_IP -e admin@example.com -u heat-admin@$OVERCLOUD_IP \
    ${SSLBASE:+--ssl $PUBLIC_API_URL}
setup-endpoints $OVERCLOUD_IP --cinder-password $OVERCLOUD_CINDER_PASSWORD \
    --glance-password $OVERCLOUD_GLANCE_PASSWORD \
    --heat-password $OVERCLOUD_HEAT_PASSWORD \
    --neutron-password $OVERCLOUD_NEUTRON_PASSWORD \
    --nova-password $OVERCLOUD_NOVA_PASSWORD \
    --swift-password $OVERCLOUD_SWIFT_PASSWORD \
    --enable-horizon \
    ${SSLBASE:+--ssl $PUBLIC_API_URL}
keystone role-create --name heat_stack_user
          </pre>
        </div>
      </li>
      <li>
        {% blocktrans %}
          <a data-toggle="collapse" data-target="#instack"><strong>Instack</strong> cloud initialization script</a>
        {% endblocktrans %}
        <div id="instack" class="collapse">
          <pre>
#!/usr/bin/bash

set -eux

# You need to run the following commands from a Undercloud node where you have
# direct access via SSH to your Overcloud control node ({{stack.keystone_ip}}).

# Run these commands as the user you used to install the undercloud, likely the stack
# user if you followed the recommendations from http://openstack.redhat.com/Deploying_RDO_using_Instack.
# The commands should also be run from the home directory of that user.

# Source your deploy-overcloudrc
# This file was created when you followed http://openstack.redhat.com/Deploying_an_RDO_Overcloud_with_Instack
source deploy-overcloudrc

export OVERCLOUD_IP={{stack.keystone_ip}}

cat &gt; tripleo-overcloud-passwords &lt;&lt;EOF
export OVERCLOUD_ADMIN_TOKEN={{plan.attributes.AdminToken}}
export OVERCLOUD_ADMIN_PASSWORD={{plan.attributes.AdminPassword}}
export OVERCLOUD_CINDER_PASSWORD={{plan.attributes.CinderPassword}}
export OVERCLOUD_GLANCE_PASSWORD={{plan.attributes.GlancePassword}}
export OVERCLOUD_HEAT_PASSWORD={{plan.attributes.HeatPassword}}
export OVERCLOUD_NEUTRON_PASSWORD={{plan.attributes.NeutronPassword}}
export OVERCLOUD_NOVA_PASSWORD={{plan.attributes.NovaPassword}}
export OVERCLOUD_SWIFT_PASSWORD={{plan.attributes.SwiftPassword}}
export OVERCLOUD_SWIFT_HASH={{plan.attributes.SwiftHashSuffix}}
EOF

source tripleo-overcloud-passwords

JSONFILE=nodes.json
if [ ! -f $JSONFILE ]; then
  echo '{}' &gt; $JSONFILE
fi
OVERCLOUD_ENDPOINT="http://{{stack.keystone_ip}}:5000/v2.0"
NEW_JSON=$(jq '.overcloud.password="'{{plan.attributes.AdminPassword}}'" | .overcloud.endpoint="'${OVERCLOUD_ENDPOINT}'" | .overcloud.endpointhost="'{{stack.keystone_ip}}'"' $JSONFILE)
echo $NEW_JSON &gt; $JSONFILE
export TE_DATAFILE=$JSONFILE

source /etc/tripleo/overcloudrc

tripleo init-keystone -p $OVERCLOUD_ADMIN_PASSWORD -t $OVERCLOUD_ADMIN_TOKEN \
    -o $OVERCLOUD_IP -e admin@example.com -u heat-admin@$OVERCLOUD_IP
tripleo setup-endpoints $OVERCLOUD_IP --cinder-password $OVERCLOUD_CINDER_PASSWORD \
    --glance-password $OVERCLOUD_GLANCE_PASSWORD \
    --heat-password $OVERCLOUD_HEAT_PASSWORD \
    --neutron-password $OVERCLOUD_NEUTRON_PASSWORD \
    --nova-password $OVERCLOUD_NOVA_PASSWORD \
    --swift-password $OVERCLOUD_SWIFT_PASSWORD \
    --enable-horizon
keystone role-create --name heat_stack_user

# Setup the neutron
tripleo setup-neutron "" "" $NETWORK_CIDR "" "" "" $FLOATING_IP_START $FLOATING_IP_END $FLOATING_IP_CIDR

# Workaround https://bugs.launchpad.net/diskimage-builder/+bug/1211165
nova flavor-delete m1.tiny
nova flavor-create m1.tiny 1 512 2 1
          </pre>
        </div>
      </li>
    </ul>
    <p class="muted">
      {% blocktrans %}
        For more information, see our <a href="https://wiki.openstack.org/wiki/Tuskar/UsageGuide#Post-Deployment">documentation</a>
        . We are working on improving your experience here.
      {% endblocktrans %}
    </p>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-xs-8">
    <h2>{% trans "Deployment Roles" %}</h2>
    <div class="widget">
      <table class="table">
      {% for role in roles %}
        <tr>
          <td><a
              href="{% url 'horizon:infrastructure:roles:detail' role.role.id %}"
              >{{ role.name }} <span class="badge">({{ role.total_node_count }})</span></a>
          </td>
          <td>
          {% if not role.total_node_count %}
            <div class="muted">
              <i class="icon-minus"></i>
              {% trans "No node" %}
            </div>
          {% else %}
            {% if role.error_node_count %}
              <div class="text-error">
                <i class="icon-exclamation-sign"></i>
            {% elif role.deploying_node_count or role.waiting_node_count %}
              <div class="text-warning">
                <i class="icon-cog"></i>
            {% else %}
              <div class="text-success">
                <i class="icon-ok"></i>
            {% endif %}
            {% if role.total_node_count == role.deployed_node_count %}
              {% trans "All nodes are running" %}
            {% else %}
              {{ role.deployed_node_count }} {% trans "deployed" %} /
              {{ role.deploying_node_count }} {% trans "deploying" %} /
              {{ role.waiting_node_count }} {% trans "waiting" %}
              {% if role.error_node_count %}
                <span style="color: red">
                  / {{ role.error_node_count }} {% trans "error" %}
                </span>
              {% endif %}
            {% endif %}
              </div>
          {% endif %}
          </td>
          <td>
            {% if role.capacity %}
            <div class="row">
              <div class="col-xs-6"><p>{{ role.capacity }}%</p></div>
              <div class="col-xs-6">
                <div class="progress active progress-info">
                  <div class="bar bar-info" style="width:{{ role.capacity }}%"></div>
                </div>
              </div>
            </div>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="widget">
      <h2>{% trans "Deployment Role Distribution" %}</h2>
      <div class="d3_pie_chart_distribution" data-used='{% for role in roles %}{{ role.name }}={{ role.deployed_node_count|default:"0" }}{% if not forloop.last %}|{% endif %}{% endfor %}'></div>
    </div>
    <div class="clear"></div>
    <div class="widget">
      <h2>{% trans "Horizon UI Connection" %}</h2>
      {% if dashboard_urls %}
        {% for dashboard_url in dashboard_urls %}
          <p>
            <a href="{{ dashboard_url }}">
              {% trans "Horizon UI" %} ({{ dashboard_url }}).
            </a>
          </p>
        {% endfor %}
      {% else %}
         {% trans "You need to initialize your OpenStack Deployment first." %}
      {% endif %}
    </div>
  </div>
</div>

<script type="text/javascript">
(window.$ || window.addHorizonLoadEvent)(function () {
  $('div > a[data-target="#detail__log"]').click(function () {
     $('li > a[data-target="#detail__log"]').tab('show');
  });
});
</script>
