{% load i18n %}
{% load url from future %}

{% include 'horizon/common/_form_errors.html' with form=form %}
<table class="table">
  <tr>
    <th>{% trans "Name" %}</th>
    <th>{% trans "Flavors" %}</th>
    <th>{% trans "Nodes" %}</th>
    {% if show_change %}
    <th>{% trans "Change" %}</th>
    {% endif %}
  </tr>
  {% for role_id, label, fields in form.roles_fieldset %}
    <tbody>
    {% for field in fields %}
      <tr>
        {% if forloop.first %}
          <td rowspan="{{ fields|length }}">
            {{ label }}
          </td>
        {% endif %}
        <td>
          {% if field.field.label %}
            {{ field.label }}
          {% else %}
            ({% trans "No flavor" %})
          {% endif %}
        </td>
        <td>
          {{ field }}
          {% for error in field.errors %}
            <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </td>
        {% if show_change %}
          <td class="changed"><span class="muted">no change</span></td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  {% endfor %}
</table>
