{% load i18n %}
{% load url from future %}

{% include 'horizon/common/_form_errors.html' with form=form %}
Deployment Roles
<table class="table">
  {% for role in roles %}
    <tbody>
      <tr>
	<td>
	  {% if stack %}
  	    {% if role.total_node_count != role.deployed_node_count %}
               {{ role.deployed_node_count }} / {{ role.total_node_count }}
    	    {% else %}
              {{ role.total_node_count }}
	    {% endif %}
	  {% else %}
	    {{ role.planned_node_count }}
	  {% endif %}
	</td>
        <td>{{ role.name }}</td>
      </tr>
     </tbody>
  {% endfor %}
</table>
