{% load i18n %}

<div class="row">
  <div class="col-xs-12">
    <div class="actions pull-right">
    </div>
    {% if stack.is_deleting %}
    <div class="alert alert-error">
      <div class="row">
        <div class="col-xs-2">
          <strong>Undeploying...</strong>
          <div class="progress progress-striped progress-danger">
            <div class="bar bar-info" style="width:{{ progress }}%"></div>
          </div>
        </div>
    {% else %}
    <div class="alert alert-error">
      <div class="row">
        <div class="col-xs-2">
          <strong>Undeploying failed</strong>
          <div class="progress progress-striped progress-danger">
            <div class="bar bar-info" style="width:{{ progress }}%"></div>
          </div>
        </div>
    {% endif %}
        <div class="col-xs-10">
          {% if last_failed_events %}
            <strong>{% trans "Last failed events:" %}</strong>
            {% for event in last_failed_events %}
            <div>
              <dl>
                <dt>{% trans "Timestamp" %}</dt>
                <dd><time datetime="{{ event.event_time }}">{{ event.event_time }}</time></dd>
                <dt>{% trans "Resource Name" %}</dt>
                <dd>{{ event.resource_name }}</dd>
                <dt>{% trans "Status" %}</dt>
                <dd>{{ event.resource_status }}</dd>
                <dt>{% trans "Reason" %}</dt>
                <dd>{{ event.resource_status_reason }}</dd>
              </dl>
            </div>
            {% endfor %}
          {% endif %}
          <a href="{% url 'horizon:infrastructure:history:index' %}" class="pull-right">See full log</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
(window.$ || window.addHorizonLoadEvent)(function () {
  $('div > a[data-target="#undeploy_in_progress__log"]').click(function () {
     $('li > a[data-target="#undeploy_in_progress__log"]').tab('show');
  });
});
</script>
