{% extends "infrastructure/overview/deployment_base.html" %}

{% load i18n %}
{% load url from future%}

{% block deployment-icon %}
  <i class="fa fa-check-circle text-success"></i>
{% endblock %}

{% block deployment-title %}
  {% trans "Ready to get deployed" %}
{% endblock %}

{% block deployment-buttons %}
  <a href="{% url 'horizon:infrastructure:overview:deploy_confirmation' %}"
   class="btn btn-primary ajax-modal btn-default">
    <i class="fa fa-rocket"></i>
    {% trans "Deploy" %}
  </a>
{% endblock %}
