{% extends 'infrastructure/base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans 'My OpenStack Deployment' %}{% endblock %}

{% block css %}
  {% if stack.is_deploying %}
    <meta http-equiv="refresh" content="30">
  {% endif %}
  {{ block.super }}
{% endblock %}

{% block page_header %}
  {% include 'horizon/common/_domain_page_header.html' with title=_('My OpenStack Deployment') %}
{% endblock page_header %}

{% block main %}
<div class="row">
  <div class="col-xs-3">
    {% include "infrastructure/overview/_deployment_status.html" %}
  </div>
  <div class="col-xs-6">
    {% include "infrastructure/overview/_role_nodes.html" %}
  </div>
</div>
{% endblock %}
