{% extends 'infrastructure/base_detail.html' %}
{% load i18n %}
{% block title %}{% trans "Node Detail"%}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Node Detail") %}
{% endblock page_header %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'horizon:infrastructure:resource_management:index' %}?tab=resource_management_tabs__resource_classes_tab" >Home</a>
    <span class="separator"></span>
    <a href="{% url 'horizon:infrastructure:resource_management:index' %}?tab=resource_management_tabs__racks_tab" >Racks</a>
    <span class="separator"></span>
    {% if node.get_rack %}
      <a href="{% url 'horizon:infrastructure:resource_management:racks:detail' node.get_rack.id %}">{{ node.get_rack.name }}</a>
    {% else %}
      <a href="{% url 'horizon:infrastructure:resource_management:nodes:unracked' %}" >Unracked Nodes</a>
    {% endif %}
    <span class="separator"></span>
  </div>
{% endblock breadcrumbs %}

{% block name %}{{ node.name }}{% endblock %}
