{% load i18n sizeformat %}
{% load url from future %}

<h3>{% trans "Flavor Overview" %}</h3>

<div class="info row-fluid detail">
  <h4>{% trans "About" %}</h4>
  <hr class="header_rule">
  <dl>
    <dt>{% trans "Name" %}</dt>
    <dd>{{ flavor.name|default:_("None") }}</dd>
    <dt>{% trans "Classes" %}</dt>
    <dd>
      {% for resource_class in flavor.resource_classes %}
        <dd><a href="{% url 'horizon:infrastructure:resource_management:resource_classes:detail' resource_class.id%}">{{ resource_class.name }}</a></dd>
      {% endfor %}
    </dd>
    <dt>{% trans "Instances" %}</dt>
    <dd>{{ flavor.running_virtual_machines }}</dd>
  </dl>
  <h4>{% trans "Specification" %}</h4>
  <hr class="header_rule">
  <dl>
    <dt>{% trans "VCPU" %}</dt>
    <dd>{{ flavor.vcpu.value }}</dd>
    <dt>{% trans "RAM" %}</dt>
    <dd>{{ flavor.ram.value }} {{ flavor.ram.unit }}</dd>
    <dt>{% trans "Root Disk" %}</dt>
    <dd>{{ flavor.root_disk.value }} {{ flavor.root_disk.unit }}</dd>
    <dt>{% trans "Ephemeral Disk" %}</dt>
    <dd>{{ flavor.ephemeral_disk.value }} {{ flavor.ephemeral_disk.unit }}</dd>
    <dt>{% trans "Swap Disk" %}</dt>
    <dd>{{ flavor.swap_disk.value }} {{ flavor.swap_disk.unit }}</dd>
  </dl>

  <h4>{% trans "Capacities" %}</h4>
  <hr class="header_rule">
  <table class="capacities">
    <tr>
      <td class="capacity_label">{% trans "CPU" %}:</td>
      <td>
        <div id="cpu_capacity_usage"
             class="capacity_bar"
             data-capacity-limit="{{ 100 }}"
             data-capacity-used="{{ 100 }}"
             data-average-capacity-used="{{ 47 }}">
        </div>
      </td>
      <td>
        <a href="#" class="modal_chart">100/100 GHz</a>
      </td>
    </tr>
    <tr>
      <td class="capacity_label">{% trans "RAM" %}:</td>
      <td>
        <div id="ram_capacity_usage"
             class="capacity_bar"
             data-capacity-limit="{{ 100 }}"
             data-capacity-used="{{ 79 }}"
             data-average-capacity-used="{{ 47 }}">
        </div>
      </td>
      <td>
        <a href="#" class="modal_chart">79/100</a>
      </td>
    </tr>
    <tr>
      <td class="capacity_label">{% trans "Storage" %}:</td>
      <td>
        <div id="storage_capacity_usage"
             class="capacity_bar"
             data-capacity-limit="{{ 100 }}"
             data-capacity-used="{{ 50 }}"
             data-average-capacity-used="{{ 70 }}">
        </div>
      </td>
      <td>
        <a href="#" class="modal_chart">50/100</a>
      </td>
    </tr>
    <tr>
      <td class="capacity_label">{% trans "Network" %}:</td>
      <td>
        <div id="network_capacity_usage"
             class="capacity_bar"
             data-capacity-limit="{{ 100 }}"
             data-capacity-used="{{ 60 }}"
             data-average-capacity-used="{{ 70 }}">
        </div>
      </td>
      <td>
        <a href="#" class="modal_chart">60/100</a>
      </td>
    </tr>
  </table>

  <h4>{% trans "Active Instances" %}</h4>
  <hr class="header_rule">
  <table class="chart">
    <tr>
      <td>
        <div id="active_instances"
             class="line_chart"
             data-line-url="/infrastructure/resource_management/racks/usage_data">
        </div>
      </td>
    </tr>
  </table>
</div>

<script type="text/javascript" charset="utf-8">
  if(typeof horizon.Capacity !== 'undefined') {
    horizon.Capacity.init();
  } else {
    addHorizonLoadEvent(function() {
      horizon.Capacity.init();
    });
  }

  if(typeof horizon.d3_line_chart !== 'undefined') {
    horizon.d3_line_chart.init();
  } else {
    addHorizonLoadEvent(function() {
      horizon.d3_line_chart.init();
    });
  }
</script>
