{% load i18n sizeformat %}
{% load url from future %}

<h3>{% trans "Flavor Overview" %}</h3>

<div class="info row-fluid detail">
  <h4>{% trans "About" %}</h4>
  <hr class="header_rule">
  <dl>
    <dt>{% trans "Name" %}</dt>
    <dd>{{ flavor.name|default:_("None") }}</dd>
    <dt>{% trans "Classes" %}</dt>
    <dd>
      {% for resource_class in flavor.resource_classes %}
        <dd><a href="{% url 'horizon:infrastructure:resource_management:resource_classes:detail' resource_class.id%}">{{ resource_class.name }}</a></dd>
      {% endfor %}
    </dd>
    <dt>{% trans "Instances" %}</dt>
    <dd>{{ flavor.running_virtual_machines }}</dd>
  </dl>
  <h4>{% trans "Specification" %}</h4>
  <hr class="header_rule">
  <dl>
    <dt>{% trans "VCPU" %}</dt>
    <dd>{{ flavor.vcpu.value }}</dd>
    <dt>{% trans "RAM" %}</dt>
    <dd>{{ flavor.ram.value }} {{ flavor.ram.unit }}</dd>
    <dt>{% trans "Root Disk" %}</dt>
    <dd>{{ flavor.root_disk.value }} {{ flavor.root_disk.unit }}</dd>
    <dt>{% trans "Ephemeral Disk" %}</dt>
    <dd>{{ flavor.ephemeral_disk.value }} {{ flavor.ephemeral_disk.unit }}</dd>
    <dt>{% trans "Swap Disk" %}</dt>
    <dd>{{ flavor.swap_disk.value }} {{ flavor.swap_disk.unit }}</dd>
  </dl>
</div>
