{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}
{% block form_id %}resource_class_action_form{% endblock %}
{% block form_action %}
    {% url 'horizon:infrastructure:resource_management:resource_classes:detail_action' resource_class_id %}?action={{ action }}
{% endblock %}
{% block modal_id %}resource_class_action_modal{% endblock %}
{% block modal-header %}{{header}}{% endblock %}
{% block modal-body %}
<div>
  {% trans "Are you sure?" %}
  <fieldset>
  {% include "horizon/common/_form_fields.html" %}
  </fieldset>
</div>
{% endblock %}
{% block modal-footer %}
  <input class="btn btn-primary" type="submit" value="{% trans "Yes" %}" />
  <a href="{% url 'horizon:infrastructure:resource_management:resource_classes:detail' resource_class_id %}"
     class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
