{% load i18n sizeformat %}
{% load url from future %}

<div class="status row-fluid detail">
  <div class="span4">
    <h4>{% trans "About" %}</h4>
    <hr class="header_rule">
    <dl>
      <dt>{% trans "Racks" %}</dt>
      <dd>{{ resource_class.racks|length }}</dd>
      <dt>{% trans "Nodes" %}</dt>
      <dd>{{ resource_class.nodes|length }}</dd>
    </dl>
  </div>

  <div class="span4">
    <h4>{% trans "Provided Service" %}</h4>
    <hr class="header_rule">
    <dl>
      <dt>{% trans "Type" %}</dt>
      <dd>{{ resource_class.service_type }}</dd>
      <dt>{% trans "Flavors" %}</dt>
      <dd>{{ resource_class.list_flavors|length }}</dd>
      <dt>{% trans "Active Instances" %}</dt>
      <dd>{{ resource_class.running_virtual_machines|length }}</dd>
    </dl>
    </dl>
  </div>

  <div class="span4">
    <h4>{% trans "Capacities" %}</h4>
    <hr class="header_rule">
    <table class="capacities">
      <tr>
        <td class="capacity_label">{% trans "CPU" %}:</td>
        <td>
          <div id="cpu_capacity_usage"
               class="capacity_bar"
               data-capacity-limit="{{ resource_class.cpu.value }}"
               data-capacity-used="{{ resource_class.cpu.usage }}"
               data-average-capacity-used="{{ 12 }}">
          </div>
        </td>
        <td>
          <a href="#" data-chart-type="modal_line_chart" data-url="/infrastructure/resource_management/racks/usage_data" data-series="cpu">{{ resource_class.cpu.usage }}/{{ resource_class.cpu.value }} {{ resource_class.cpu.unit }}</a>
        </td>
      </tr>
      <tr>
        <td class="capacity_label">{% trans "RAM" %}:</td>
        <td>
          <div id="ram_capacity_usage"
               class="capacity_bar"
               data-capacity-limit="{{ resource_class.ram.value }}"
               data-capacity-used="{{ resource_class.ram.usage }}"
               data-average-capacity-used="{{ 12 }}">
          </div>
        </td>
        <td>
          <a href="#" data-chart-type="modal_line_chart" data-url="/infrastructure/resource_management/racks/usage_data" data-series="ram">{{ resource_class.ram.usage }}/{{ resource_class.ram.value }} {{ resource_class.ram.unit }}</a>
        </td>
      </tr>
      <tr>
        <td class="capacity_label">{% trans "Storage" %}:</td>
        <td>
          <div id="storage_capacity_usage"
               class="capacity_bar"
               data-capacity-limit="{{ resource_class.storage.value }}"
               data-capacity-used="{{ resource_class.storage.usage }}"
               data-average-capacity-used="{{ 12 }}">
          </div>
        </td>
        <td>
          <a href="#" data-chart-type="modal_line_chart" data-url="/infrastructure/resource_management/racks/usage_data" data-series="storage">{{ resource_class.storage.usage }}/{{ resource_class.storage.value }} {{ resource_class.storage.unit }}</a>
        </td>
      </tr>
      <tr>
        <td class="capacity_label">{% trans "Network" %}:</td>
        <td>
          <div id="network_capacity_usage"
               class="capacity_bar"
               data-capacity-limit="{{ resource_class.network.value }}"
               data-capacity-used="{{ resource_class.network.usage }}"
               data-average-capacity-used="{{ 12 }}">
          </div>
        </td>
        <td>
          <a href="#" data-chart-type="modal_line_chart" data-url="/infrastructure/resource_management/racks/usage_data" data-series="network">{{ resource_class.network.usage }}/{{ resource_class.network.value }} {{ resource_class.network.unit }}</a>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="status row-fluid detail">
  <div class="span6">
    <h4>{% trans "Capacity Usage" %}</h4>
    <hr class="header_rule">
    <div data-chart-type="line_chart" data-url="/infrastructure/resource_management/racks/usage_data" data-series="cpu,ram,storage,network"></div>
  </div>

  <div class="span6">
    <h4>{% trans "Virtual Capacity" %}</h4>
    <hr class="header_rule">
    <dl>
      {% for flavor_count in resource_class.list_flavors %}
        <dt>{{ flavor_count.flavor.name }}</dt>
        <dd>{{ flavor_count.max_vms }}</dd>
      {% endfor %}
    </dl>
  </div>
</div>

<div class="row-fluid detail">
  <div class="span6">
    <h4>{% trans "Summary of Instances and Usage" %}</h4>
    <hr class="header_rule">
    <dl>
      {% for flavor_count in resource_class.running_virtual_machines %}
        <dt>{{ flavor_count.flavor.name }}</dt>
        <dd>{{ flavor_count.max_vms }}</dd>
      {% endfor %}
    </dl>
  </div>

  <div class="span6">
    <div class="circles_chart_time_picker">
      <select data-circles-chart-command="change_time"
              data-receiver=".rack_health_chart">
        <option value="now">Now</option>
        <option value="yesterday">Yesterday</option>
        <option value="last_week">Last Week</option>
        <option value="last_month">Last Month</option>
      </select>
    </div>
    <h4>Rack health</h4>
    <hr class="header_rule">
    <div class="clear"></div>

    <ul class="nav nav-tabs"
        data-circles-chart-command="change_url"
        data-receiver=".rack_health_chart">
      <li class="active">
        <a data-url="{% url 'horizon:infrastructure:resource_management:resource_classes:rack_health' resource_class.id %}?type=overall_health" href="#">
          Overall Health</a>
      </li>
      <li>
        <a data-url="{% url 'horizon:infrastructure:resource_management:resource_classes:rack_health' resource_class.id %}?type=alerts" href="#">
          Alerts</a>
      </li>
      <li>
        <a data-url="{% url 'horizon:infrastructure:resource_management:resource_classes:rack_health' resource_class.id %}?type=capacities" href="#">
          Capacities</a>
      </li>
      <li>
        <a data-url="{% url 'horizon:infrastructure:resource_management:resource_classes:rack_health' resource_class.id %}?type=status" href="#">
          Status</a>
      </li>
    </ul>
    <!--<h5>Region 1<h5>
    <div class="rack_health_chart"
         data-chart-type="circles_chart"
         data-url="/infrastructure/racks/1/top_communicating.json?region=1"
         data-region=1 //// implement region parameter
         data-time="now"
         data-size="10">
    </div>
    <h5>Region 2<h5>
    <div class="rack_health_chart"
         data-chart-type="circles_chart"
         data-url="/infrastructure/racks/1/top_communicating.json?region=2"
         data-region=1 //// implement region parameter
         data-time="now"
         data-size="10">
    </div>
    <h5>Region 3<h5>-->
    <div class="rack_health_chart"
         data-chart-type="circles_chart"
         data-url="{% url 'horizon:infrastructure:resource_management:resource_classes:rack_health' resource_class.id %}"
         data-time="now"
         data-size="22">
    </div>
  </div>
</div>
