{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}provision_form{% endblock %}
{% block form_action %}{% url 'horizon:infrastructure:overview:undeploy_confirmation' %}{% endblock %}

{% block modal_id %}provision_modal{% endblock %}
{% block modal-header %}{% trans "Undeployment Confirmation" %}{% endblock %}

{% block modal-body %}
<div>
    <p>{% trans "You are about undeploy your overcloud" %}
    </p>
    <p>{% trans "This operation cannot be undone. Are you sure you want to do that?" %}</p>
  <fieldset>
  {% include "horizon/common/_form_fields.html" %}
  </fieldset>
</div>
{% endblock %}
