{% extends "infrastructure/overview/deployment_base.html" %}

{% load i18n %}
{% load url from future%}
{% load horizon %}

{% block deployment-icon %}fa-spinner fa-spin{% endblock %}

{% block deployment-title %}
            {% if stack.is_deleting %}
                {% trans "Undeploying..." %}
            {% elif stack.is_deploying %}
                {% trans "Deploying..." %}
            {% endif %}
{% endblock %}

{% block deployment-info %}
{% if progress %}
  <div class="progress">
    <div
      class="progress-bar progress-bar-striped active"
      role="progressbar"
      aria-valuenow="{{ progress }}"
      aria-valuemin="0"
      aria-valuemax="100"
      style="width: {{ progress }}%"
      ><span class="sr-only">{{ progress }}% {% trans "Complete" %}</span></div>
  </div>
{% endif %}
<div class="deploy-last-events">
{% if last_failed_events %}
  <strong>{% trans "Last failed events:" %}</strong>
{% for event in last_failed_events %}
<div>
  <dl>
    <dt>{% trans "Timestamp" %}</dt>
    <dd><time datetime="{{ event.event_time }}">{{ event.event_time }}</time></dd>
    <dt>{% trans "Resource Name" %}</dt>
    <dd>{{ event.resource_name }}</dd>
    <dt>{% trans "Status" %}</dt>
    <dd>{{ event.resource_status }}</dd>
    <dt>{% trans "Reason" %}</dt>
    <dd>{{ event.resource_status_reason }}</dd>
  </dl>
</div>
{% endfor %}
{% elif last_event %}
  <div>
    <dl>
      <dt>{% trans "Last Update" %}</dt>
      <dd>
        <time datetime="{{ last_event.event_time }}">{{ last_event.event_time }}</time>
        <br />
        {{ last_event.resource_name }}
        {{ last_event.resource_status }}
      </dd>
    </dl>
  </div>
{% endif %}
<p><a href="{% url 'horizon:infrastructure:history:index' %}">See full log</a></p>
</div>
{% endblock %}

{% block deployment-buttons %}
    {% if stack.is_deploying %}
      <a
    href="{% url 'horizon:infrastructure:overview:undeploy_confirmation' %}"
    class="btn btn-danger ajax-modal">
        <i class="fa fa-lg fa-times"></i>
        {% trans "Stop" %}
      </a>
    {% endif %}
{% endblock %}

{% block templates %}
<script type="text/html" id="events-template">{% spaceless %}{% jstemplate %}
[[#last_failed_events]]
<strong>{% trans "Last failed events:" %}</strong>
<div>
  <dl>
    <dt>{% trans "Timestamp" %}</dt>
    <dd><time datetime="[[ event_time ]]">[[ event_time ]]</time></dd>
    <dt>{% trans "Resource Name" %}</dt>
    <dd>[[ resource_name ]]</dd>
    <dt>{% trans "Status" %}</dt>
    <dd>[[ resource_status ]]</dd>
    <dt>{% trans "Reason" %}</dt>
    <dd>[[ resource_status_reason ]]</dd>
  </dl>
</div>
[[/last_failed_events]]
[[#last_event]]
<div>
  <dl>
    <dt>{% trans "Last Update" %}</dt>
    <dd>
      <time datetime="[[ event_time ]]">[[ event_time ]]</time>
      <br />
      [[ resource_name ]]
      [[ resource_status ]]
    </dd>
  </dl>
</div>
[[/last_event]]
<p><a href="{% url 'horizon:infrastructure:history:index' %}">See full log</a></p>
{% endjstemplate %}{% endspaceless %}</script>
{% endblock %}
