{% extends "infrastructure/overview/deployment_base.html" %}

{% load i18n %}
{% load url from future%}
{% load horizon %}

{% block deployment-icon %}
{% if plan_invalid %}fa-exclamation-circle{% else %}fa-check-circle{% endif %}
{% endblock %}

{% block deployment-title %}
{% if plan_invalid %}
  {% trans "Design your deployment" %}
{% else %}
  {% trans "Ready to get deployed" %}
{% endif %}
{% endblock %}

{% block deployment-info %}
<ul class="fa-ul">
    {% for message in plan_messages %}
    <li>
        <i class="fa-li fa {% if message.is_critical %}fa-exclamation-circle text-danger{% else %}fa-exclamation-triangle text-warning{% endif %}"></i>
        {{ message.text }}
        {% if message.link_url %}
          (<a href="{{ message.link_url }}">
            {{ message.link_label|default:message.link_url }}
          </a>)
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block deployment-buttons %}
<a href="{% url 'horizon:infrastructure:overview:deploy_confirmation' %}"
class="btn btn-primary ajax-modal btn-default {% if plan_invalid %}disabled{% endif %}">
<i class="fa fa-lg fa-rocket"></i> {% trans "Deploy" %}
</a>
{% endblock %}

{% block templates %}
<script type="text/html" id="title-template">{% spaceless %}{% jstemplate %}
<h4>
[[#validating]]{% trans "Validating the plan..." %}[[/validating]]
[[^validating]]
  [[#plan_invalid]]{% trans "Design your deployment" %}[[/plan_invalid]]
  [[^plan_invalid]]{% trans "Ready to get deployed" %}[[/plan_invalid]]
[[/validating]]
</h4>
{% endjstemplate %}{% endspaceless %}</script>
<script type="text/html" id="message-template">{% spaceless %}{% jstemplate %}
<ul class="fa-ul">
[[#messages ]]
  <li><i class="fa-li fa
    [[#is_critical]]fa-exclamation-circle text-danger[[/is_critical]]
    [[^is_critical]]fa-exclamation-triangle text-warning[[/is_critical]]
  "></i>
    [[text]]
    [[#link_label]]
      (<a href="[[link_url]]">[[link_label]]</a>)
    [[/link_label]]
  </li>
[[/messages]]
</ul>
{% endjstemplate %}{% endspaceless %}</script>
{% endblock %}
