{% load i18n %}
{% load url from future%}

<div class="deployment-heading">
  {% block deployment-heading %}{% endblock %}
</div>
<div class="clear"></div>
<div class="deployment-icon">
<i class="fa {% block deployment-icon %}fa-cloud{% endblock %} fa-3x fa-fw"></i>
</div>
<div class="deployment-box clearfix">
  <h4>{% block deployment-title %}{% endblock %}</h4>
  {% block deployment-info %}{% endblock %}
  <div class="deployment-buttons clearfix">
    {% block deployment-buttons %}
      <a
    href="{% url 'horizon:infrastructure:overview:undeploy_confirmation' %}"
    class="btn btn-danger ajax-modal">
        <i class="fa fa-lg fa-fire"></i> {% trans "Undeploy" %}
      </a>
    {% endblock %}
  </div>
</div>

{% block templates %}{% endblock %}
