{% extends "infrastructure/overview/deployment_base.html" %}

{% load i18n %}
{% load url from future%}

{% block deployment-icon %}fa-exclamation-circle{% endblock %}

{% block deployment-title %}
            {% if stack.is_delete_failed %}
                {% trans "Undeploying failed" %}
            {% elif stack.is_failed %}
                {% trans "Deployment failed" %}
            {% else %}
                {% trans "Failure" %}
            {% endif %}
{% endblock %}

{% block deployment-info %}
{% include "infrastructure/overview/_last_events.html" %}
{% endblock %}

{% block deployment-buttons %}
  {{ block.super }}
{% endblock %}

