{% extends "infrastructure/overview/deployment_base.html" %}

{% load i18n %}
{% load url from future%}

{% block deployment-icon %}fa-exclamation-circle{% endblock %}

{% block deployment-title %}
            {% if stack.is_delete_failed %}
                {% trans "Undeploying failed" %}
            {% elif stack.is_failed %}
                {% trans "Deployment failed" %}
            {% else %}
                {% trans "Failure" %}
            {% endif %}
{% endblock %}

{% block deployment-info %}
{% if show_last_events %}
<strong>{{ last_events_title }}</strong>
<div>
  <dl>
    {% for event in last_events %}
    <dd>
      <time datetime="{{ last_event.event_time }}">{{ event.event_time }}</time>
      <br />
      {{ event.resource_name }} |
      {{ event.resource_status }} |
      {{ event.resource_status_reason }}
    </dd>
  </dl>
</div>
{% endfor %}
{% endif %}
<p><a href="{% url 'horizon:infrastructure:history:index' %}">See full log</a></p>
{% endblock %}

{% block deployment-buttons %}
  {{ block.super }}
{% endblock %}

