{% extends 'infrastructure/base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans 'My OpenStack Deployment' %}{% endblock %}

{% block page_header %}
  {% include 'horizon/common/_domain_page_header.html' with title=_('My OpenStack Deployment') %}
{% endblock page_header %}

{% block main %}
<div class="row">
  <div class="col-xs-4">
    {% if stack %}
      {% if stack.is_deleting or stack.is_deploying or stack.is_updating %}
        {% include "infrastructure/overview/deployment_progress.html" %}
      {% elif stack.is_delete_failed or stack.is_failed %}
        {% include "infrastructure/overview/deployment_failed.html" %}
      {% elif stack.is_deployed and not stack.is_initialized %}
        {% include "infrastructure/overview/deployment_initialize.html" %}
      {% else %}
        {% include "infrastructure/overview/deployment_live.html" %}
      {% endif %}
    {% else %}
      {% include "infrastructure/overview/deployment_plan.html" %}
    {% endif %}
  </div>
  <div class="col-xs-8">
    {% if stack %}
      {% include "infrastructure/overview/role_nodes_status.html" %}
    {% else %}
      {% include "infrastructure/overview/role_nodes_edit.html" %}
    {% endif %}
  </div>
</div>
{% endblock %}
