#!/bin/bash
export NOVA_VERSION=1.1
export OS_AUTH_URL={{ auth_url }}
export OS_TENANT_NAME="admin"
export OS_USERNAME="admin"
export OS_PASSWORD={{ admin_password }}
export COMPUTE_API_VERSION=1.1
export OS_NO_CACHE=True
export no_proxy={{ no_proxy }}
