{% load i18n %}
{% load url from future %}
{% load horizon %}

<h4>{% trans "Deployment Roles" %}</h4>
<div class="deploy-role-status">
{% for role in roles %}
    <div class="alert well-sm clearfix alert-{{ role.status }}">
      <div class="col-sm-2">
        {% if role.finished %}
          <i class="fa fa-check"></i>
        {% else %}
          <i class="fa fa-spinner fa-spin"></i>
        {% endif %}
      </div>
      <div class="col-sm-8">
        <a
          href='{% url "horizon:infrastructure:roles:detail" role_id=role.id %}'
        >{{ role.name|capfirst }}</a>
      </div>
      <div class="col-sm-2">
        {% if  role.finished %}
          <strong>{{ role.deployed_node_count }}</strong>
        {% else %}
          <strong>{{ role.deployed_node_count }}</strong><small class="text-muted">/{{ role.planned_node_count }}</small>
        {% endif %}
      </div>
    </div>
{% endfor %}
</div>

<script type="text/html" id="roles-template">{% spaceless %}{% jstemplate %}
[[#roles]]
    <div class="alert well-sm clearfix alert-[[status]]">
      <div class="col-sm-2">
        [[#finished]]
          <i class="fa fa-check"></i>
        [[/finished]]
        [[^finished]]
          <i class="fa fa-spinner fa-spin"></i>
        [[/finished]]
      </div>
      <div class="col-sm-8"><strong>[[ name ]]</strong></div>
      <div class="col-sm-2">
        [[#finished]]
          <strong>[[ deployed_node_count ]]</strong>
        [[/finished]]
        [[^finished]]
          <strong>[[ deployed_node_count ]]</strong>
          <small class="text-muted">/[[ planned_node_count ]]</small>
        [[/finished]]
      </div>

    </div>
[[/roles]]
{% endjstemplate %}{% endspaceless %}</script>
