{% load i18n %}
{% load url from future %}
{% load form_helpers %}

<h4>{% trans "Deployment Roles" %}</h4>
<form method="POST" action="." class="deployment-roles-form">
{% csrf_token %}
{% include 'horizon/common/_form_errors.html' with form=form %}
{% for role in roles %}
    <div class="form-group well well-sm clearfix{% if field.errors %} error{% endif %} {{ field.css_classes }}">
      <div class="col-sm-2">
        {{ role.field|add_bootstrap_class }}
      </div>
      <div class="col-sm-10">
        <a
          href="{% url 'horizon:infrastructure:roles:detail' role_id=role.id %}"
          class="deployment-roles-label"
        >{{ role.name|capfirst }}</a>
        {% for error in role.field.errors %}
        <span class="help-block"><span class="text-danger">
          {{ error }}
        </span></span>
        {% endfor %}
      </div>
    </div>
{% endfor %}
<hr>
<button type="submit" class="btn btn-default">
  <i class="fa fa-save"></i>
  {% trans "Save changes" %}
</button>
</form>
