{% if action.method != "GET" %}
  <button {{ action.attr_string|safe }} name="action" value="{{ action.table.name }}__{{ action.name }}__{{ row_id }}" type="submit">
    {% if action.icon != None %}
      <span class="glyphicon glyphicon-{{ action.icon }}" title="{{ action.verbose_name }}"></span>
    {% else %}
      {{ action.verbose_name }}
    {% endif %}
  </button>
{% else %}
  <a href='{{ action.bound_url }}' {{ action.attr_string|safe }}>
    {% if action.icon != None %}
      <span class="glyphicon glyphicon-{{ action.icon }}" title="{{ action.verbose_name }}"></span>
    {% else %}
      {{ action.verbose_name }}
    {% endif %}
  </a>
{% endif %}
