{% extends "horizon/common/_data_table.html" %}

{% block table_caption %}
  <tr class='table_caption'>
    <th class='table_header' colspan='{{ columns|length }}'>
      {% if not table.no_title %}
      <h3 class='table_title'>{{ table }}</h3>
      {% endif %}
    </th>
  </tr>
  {% if table.get_table_actions %}
  <tr class='table_actions_row'>
    <th class='table_header' colspan='{{ columns|length }}'>
      {{ table.render_table_actions }}
    </th>
  </tr>
  {% endif %}
{% endblock table_caption %}
