{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}provision_form{% endblock %}
{% block form_action %}{% url 'horizon:infrastructure:resource_management:provision' %}{% endblock %}

{% block modal_id %}provision_modal{% endblock %}
{% block modal-header %}{% trans "Start Provisioning Confirmation" %}{% endblock %}

{% block modal-body %}
<div>
  <p>{% trans "This will start provisioning in all the racks. Are you sure you want to do that?" %}</p>
  <fieldset>
  {% include "horizon/common/_form_fields.html" %}
  </fieldset>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary" type="submit" value="{% trans "Provision Everything" %}" />
  <a href="{% url 'horizon:infrastructure:resource_management:index' %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
