{% load i18n %}

{{ formset.management_form }}
<div class="row-fluid register-nodes-formset" id="formset-{{ formset.prefix }}"> 
  <div class="span5">
    <div class="clearfix register-nav-head">
      <a class="pull-right add-node-link"
         href="#"><i class="icon-plus"></i> {% trans 'Add Node' %}</a>
      <h3>Nodes to register</h3>
    </div>
    <ul class="nav nav-tabs nav-stacked">
      {% for form in formset %}
      <li {% if forloop.first %}class="active"{% endif %}>
        <a href="#tab-{{ form.prefix }}" data-toggle="tab">
          {{ form.ip_address.value|default:'Undefined node' }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="span7">
    <div class="tab-content">
      {% for form in formset %}
        {% include "infrastructure/deployment/overview/_nodes_formset_form.html" with form=form active=forloop.first%}
      {% endfor %}
    </div>
  </div>
</div>

<script type="text/javascript">
    (window.$ || window.addHorizonLoadEvent)(function () {
        var prefix = '{{ formset.prefix|escapejs }}';
        var empty_form_html = '{% filter escapejs %}{% include "infrastructure/deployment/overview/_nodes_formset_form.html" with form=formset.empty_form %}{% endfilter %}';
        var input_name_re = new RegExp('^' + prefix + '-(\\d+|__prefix__)-');
        var input_id_re = new RegExp('^id_' + prefix + '-(\\d+|__prefix__)-');
        var $content = $('#formset-' + prefix +' .tab-content');
        var $nav = $('#formset-' + prefix + ' .nav');
        var undefined_node = '{% filter escapejs %}{% trans "Undefined node" %}{% endfilter %}';
        var activated = false;

        function renumber_form($form, prefix, count) {
          $form.find('input, textarea, select').each(function () {
            var input = $(this);
            input.attr('name', input.attr('name').replace(
              input_name_re, prefix + '-' + count + '-'));
            input.attr('id', input.attr('id').replace(
              input_id_re, 'id_' + prefix + '-' + count + '-'));
          });
        }

        function reenumerate_forms($forms, prefix) {
          var count = 0;
          $forms.each(function () {
            renumber_form($(this), prefix, count);
            count += 1;
          });
          $('#id_' + prefix + '-TOTAL_FORMS').val(count);
          return count;
        }

        function add_delete_link($nav_item) {
          var $form = $content.find($nav_item.find('a').attr('href'));
          $nav_item.prepend('<span class="btn-small pull-right delete-icon"><i class="icon-trash icon-white"></i></span>');
          $nav_item.find('span.delete-icon:first').click(function () {
              $form.remove();
              $nav_item.remove();
              reenumerate_forms($content.find('.tab-pane'), prefix);
          });
        }

        function add_form_callbacks($new_form) {
          var $new_nav = $nav.find('a[href="#' + $new_form.attr('id') + '"]');
          $new_form.find('input[name$="-ip_address"]').change(function () {
            $new_nav.html($(this).val() || undefined_node);
          });
          $new_form.find('input[name$="-introspect_hardware"]').change(function () {
              var disabled = $(this).attr('checked') ? 'disabled' : null;
              $new_form.find('input[name$="-cpus"]').attr('disabled', disabled);
              $new_form.find('input[name$="-memory"]').attr('disabled', disabled);
              $new_form.find('input[name$="-local_disk"]').attr('disabled', disabled);
          });
        }

        function add_node() {
          var $new_form = $(empty_form_html);
          var count, id, $new_nav;
          $content.append($new_form);
          $new_form = $content.find('.tab-pane:last')
          count = reenumerate_forms($content.find('.tab-pane'), prefix);
          id = 'tab-' + prefix + '-' + count;
          $new_form.attr('id', id);
          $nav.append('<li><a href="#' + id + '" data-toggle="tab">Undefined node</a></li>');
          $new_nav = $nav.find('li > a:last');
          add_form_callbacks($new_form);
          add_delete_link($new_nav.parent());
          $new_nav.click(function () { $(this).tab('show'); });
          $new_nav.tab('show');
        }

        // Connect all signals.
        $('a.add-node-link').click(add_node);
        $nav.find('li').each(function () { add_delete_link($(this)); });
        $content.find('.tab-pane').each(function () { add_form_callbacks($(this)) });
        
        // Activate the first field that has errors.
        $content.find('.control-group.error').each(function () {
          if (!activated) {
            $nav.find('a[href="#' + $(this).closest('.tab-pane').attr('id') + '"]').tab('show');
            activated = true;
          }
        });
    });
</script>
