// breadcrumbs

.breadcrumbs {
  font-size: 85%;
  margin: 0 0 25px 0;

  a {
    color: rgb(170, 170, 170);
    text-decoration: underline;

    &:hover {
      text-decoration: none;
      color: rgb(100, 100, 100);
    }
  }

  .separator {
    color: rgb(200, 200, 200);

    &:before {
      display: inline;
      content: ">>";
      margin: 0 7px;
    }

    &:last-child:after {
      display: inline;
      content: "...";
    }
  }
}
