// capacities
table.capacities {
  &.overall_usage {
    margin-top: 5px;
  }

  td {
    padding: 3px;

    &.capacity_label {
      width: 60px;
      padding-right: 5px;
      color: rgb(160,160,160);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & div.capacity_bar {
      line-height: 0;
      width: 120px;
    }
  }
}
