#nodes-formset-datatable .datatable tbody {
  input {
    padding: 2px 1px;
  }
  input.number_input_slim {
    width: 3em;
  }
  td {
    padding: 2px;
    text-align: center;
    a.close {
        margin-right: 4px;
    }
  }
}

#detail__overview {
  ul {
    list-style: disc;
    margin: 0 0 9px 25px;
  }
}
