/* Additional CSS for infrastructure. */
@import "../../bootstrap/less/variables.less";
@import "numberpicker.less";
@import "bootstrap.less";
@import "breadcrumbs.less";
@import "buttons.less";
@import "capacities.less";
@import "flavor_usages.less";
@import "formsets.less";
@import "index_pages.less";
@import "individual_pages.less";
@import "tables.less";

// disable text select on element
.unselectable {
  user-select: none;
  -o-user-select:none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.actions {
    @margin: @baseLineHeight / 3;
    margin: @margin 0 0 @margin;
}
