.menu-formset {
  a.add-node-link {
    display: block;
  }

  .nav-tabs > .active > a {
    color: @white;
    background-color: @linkColor;
  }

  ul.nav-tabs > li span.delete-icon {
    display: none;
  }

  ul.nav-tabs > li.active span.delete-icon {
    display: block;
    margin: 4px 19px 4px 0;
    cursor: pointer;
  }

  ul.nav-tabs > li {
    position: relative;
  }

  ul.nav-tabs > li.active {
    width: 107%;
  }

  ul.nav-tabs > li.active:after {
    display: block;
    content: '';
    position: absolute;
    top: 1px;
    right: -7px;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 8px solid @linkColor;
  }

  .register-nav-head {
    margin-top: 19px;
    margin-bottom: 5px;
  }

  .form h5 {
    margin: 0.5em 0 0.75em 0;
  }

  .form label.checkbox {
    font-weight: normal;
  }

  fieldset .form-field {
    input, textarea, select {
      width: 150px;
      margin-left: 5px;
    }
  }
}

.modal-body fieldset .menu-formset .form-field {
  input, textarea, select {
    width: 150px;
    margin-left: 5px;
  }
}
