{% load i18n sizeformat %}
{% load url from future %}

<div class="info row-fluid detail">
  <div class="span4">
    <h4>{% trans "About" %}</h4>
    <hr class="header_rule">
    <dl>
      <dt>{% trans "IP Subnet" %}</dt>
      <dd>{{ rack.subnet|default:_("None") }}</dd>
      <dt>{% trans "Switch IPs" %}</dt>
      <dd>{{ rack.switch_ips|default:_("None") }}</dd>
      <dt>{% trans "Location" %}</dt>
      <dd>{{ rack.location|default:_("None") }}</dd>
      <dt>{% trans "State" %}</dt>
      <dd>{{ rack.state|default:_("None") }}</dd>
    </dl>
  </div>
  <div class="span4">
    <h4>{% trans "Resource Assignment" %}</h4>
    <hr class="header_rule">
    <dl>
      <dt>{% trans "Region" %}</dt>
      <dd>{{ rack.region|default:_("None") }}</dd>
      <dt>{% trans "Class" %}</dt>
      <dd>{{ rack.resource_class.name|default:_("None") }}</dd>
      <dt>{% trans "Nodes" %}</dt>
      <dd>{{ rack.nodes_count|default:_("None") }}</dd>
    </dl>
  </div>
  <div class="span4">
    <h4>{% trans "Capacities" %}</h4>
    <hr class="header_rule">
    <table class="capacities">
      {% for capacity in rack.capacities %}
      <tr>
        <td class="capacity_label">{{ capacity.name }}:</td>
        <td>
          <div id="{{ capacity.name }}_capacity_usage"
               class="capacity_bar"
               data-capacity-limit="{{ capacity.value }}"
               data-capacity-used="{{ capacity.usage }}"
               data-average-capacity-used="{{ capacity.average }}">
          </div>
        </td>
        <td>
          <a href="#" data-chart-type="modal_line_chart" data-url="/infrastructure/resource_management/racks/usage_data">{{ capacity.usage|default:_(" - ") }}/{{ capacity.value|default:_(" - ") }} {{ capacity.unit }}</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
    <div class="circles_chart_time_picker">
      <select data-circles-chart-command="change_time"
              data-receiver="#most_contacting_racks, #most_contacted_racks">
        <option value="now">Now</option>
        <option value="yesterday">Yesterday</option>
        <option value="last_week">Last Week</option>
        <option value="last_month">Last Month</option>
      </select>
    </div>
    <h4>Top Communicating Racks</h4>
    <hr class="header_rule">
    <div class="clear"></div>

    <div class="communication_charts_wrapper">
      <div class="communication_chart_wrapper">
        <h5>The most contacting</h5>
        <div id="most_contacting_racks"
             class="communication_chart"
             data-chart-type="circles_chart"
             data-url="{% url 'horizon:infrastructure:resource_management:racks:top_communicating' rack.id %}?cond=from"
             data-time="now"
             data-size="22">
        </div>
      </div>
      <div class="communication_chart_connection">-->BG-IMG--></div>
      <div class="communication_chart_wrapper">
        <h5>The most contacted</h5>
        <div id="most_contacted_racks"
             class="communication_chart"
             data-chart-type="circles_chart"
             data-url="{% url 'horizon:infrastructure:resource_management:racks:top_communicating' rack.id %}?cond=to"
             data-time="now"
             data-size="22">
        </div>
      </div>
    </div>
  </div>
  <div class="span6">
    <div class="circles_chart_time_picker">
      <select data-circles-chart-command="change_time"
              data-receiver="#rack_health_chart">
        <option value="now">Now</option>
        <option value="yesterday">Yesterday</option>
        <option value="last_week">Last Week</option>
        <option value="last_month">Last Month</option>
      </select>
    </div>
    <h4>Node health</h4>
    <hr class="header_rule">
    <div class="clear"></div>

    <ul class="nav nav-tabs"
        data-circles-chart-command="change_url"
        data-receiver="#rack_health_chart">
      <li class="active">
        <a data-url="{% url 'horizon:infrastructure:resource_management:racks:node_health' rack.id %}?type=overall_health" href="#">
          Overall Health</a>
      </li>
      <li>
        <a data-url="{% url 'horizon:infrastructure:resource_management:racks:node_health' rack.id %}?type=alerts" href="#">
          Alerts</a>
      </li>
      <li>
        <a data-url="{% url 'horizon:infrastructure:resource_management:racks:node_health' rack.id %}?type=capacities" href="#">
          Capacities</a>
      </li>
      <li>
        <a data-url="{% url 'horizon:infrastructure:resource_management:racks:node_health' rack.id %}?type=status" href="#">
          Status</a>
      </li>
    </ul>
    <div id ="rack_health_chart"
         class="health_chart"
         data-chart-type="circles_chart"
         data-url="{% url 'horizon:infrastructure:resource_management:racks:node_health' rack.id %}"
         data-time="now"
         data-size="22">
    </div>
  </div>
</div>

