{% load i18n sizeformat %}
{% load url from future %}

<h3>{% trans "Rack Overview" %}</h3>

<div class="info row-fluid detail">
  <h4>{% trans "Info" %}</h4>
  <hr class="header_rule">
  <dl>
    <dt>{% trans "Name" %}</dt>
    <dd>{{ rack.name|default:_("None") }}</dd>
    <dt>{% trans "ID" %}</dt>
    <dd>{{ rack.id|default:_("None") }}</dd>
  </dl>
  <h4>{% trans "Compute Power" %}</h4>
  <hr class="header_rule">
  <dl>
    <dt>{% trans "Name" %}</dt>
    <dd>{{ rack.name|default:_("None") }}</dd>
    <dt>{% trans "ID" %}</dt>
    <dd>{{ rack.id|default:_("None") }}</dd>
  </dl>
  <h4>{% trans "Virtual Capacity" %}</h4>
  <hr class="header_rule">
  <dl>
    <dt>{% trans "Name" %}</dt>
    <dd>{{ rack.name|default:_("None") }}</dd>
    <dt>{% trans "ID" %}</dt>
    <dd>{{ rack.id|default:_("None") }}</dd>
  </dl>
</div>
