{% extends 'infrastructure/base_detail.html' %}
{% load i18n %}
{% block title %}{% trans "Rack Detail"%}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Rack Detail") %}
{% endblock page_header %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'horizon:infrastructure:resource_management:index' %}?tab=resource_management_tabs__resource_classes_tab" >Home</a>
    <span class="separator"></span>
    <a href="{% url 'horizon:infrastructure:resource_management:index' %}?tab=resource_management_tabs__racks_tab" >Racks</a>
    <span class="separator"></span>
  </div>
{% endblock breadcrumbs %}

{% block name %}{{ rack.name }}{% endblock %}

{% block overall_usage %}
  <table class="capacities overall_usage">
    <tr>
      <td class="capacity_label">{% trans "Usage" %}:</td>
      <td>
        <div id="rack_usage"
             class="capacity_bar"
             data-capacity-limit="{{ rack.vm_capacity.value }}"
             data-capacity-used="{{ rack.vm_capacity.usage }}"
             data-average-capacity-used="{{ 4 }}">
        </div>
      </td>
    </tr>
  </table>
{% endblock %}

