{% extends 'infrastructure/base.html' %}
{% load i18n %}
{% block title %}{% trans 'Flavor: ' %}{{ flavor.name }}{% endblock %}

{% block page_header %}
  {% include 'horizon/common/_page_header.html' with title=_('Flavor: ')|add:flavor.name %}
{% endblock page_header %}

{% block main %}
<div class="row">
  <div class="col-md-4">
    <h4>{% trans "Hardware Info" %}</h4>
    <dl class="dl-horizontal dl-horizontal-left">
        <dt>{% trans "Architecture" %}</dt>
        <dd>{{ flavor.cpu_arch|default:"&mdash;" }}</dd>
        <dt>{% trans "CPUs" %}</dt>
        <dd>{{ flavor.vcpus|default:"&mdash;" }}</dd>
        <dt>{% trans "Memory" %}</dt>
        <dd>{{ flavor.ram_bytes|filesizeformat|default:"&mdash;" }}</dd>
        <dt>{% trans "Disk" %}</dt>
        <dd>{{ flavor.disk_bytes|filesizeformat|default:"&mdash;" }}</dd>
    </dl>
  </div>
  <div class="col-md-4">
    <h4>{% trans "Deploy Images" %}</h4>
    <dl class="dl-horizontal dl-horizontal-left">
        <dt>{% trans "Kernel" %}</dt>
        <dd>{{ kernel_image.name|default:"&mdash;" }}</dd>
        <dt>{% trans "Ramdisk" %}</dt>
        <dd>{{ ramdisk_image.name|default:"&mdash;" }}</dd>
    </dl>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ table.render }}
  </div>
</div>

{% endblock %}
