{% extends 'infrastructure/base.html' %}
{% load i18n %}
{% load url from future %}
{% block title %}{% trans 'Flavors' %}{% endblock %}

{% block page_header %}
  {% include 'horizon/common/_items_count_domain_page_header.html' with title=_('Flavors') items_count=flavors_count %}
{% endblock page_header %}

{% block main %}
{% if suggested_flavors_count %}
<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" href="#suggestedFlavors">
    <a href="#suggestedFlavors">{{ suggested_flavors_count }}&times; Suggested Flavor</a>
  </div>
  <div class="panel-collapse collapse" id="suggestedFlavors">
    <div class="panel-body">
      {{ suggested_flavors_table.render }}
    </div>
  </div>
</div>
{% endif %}

<div id="flavors">
  {{ flavors_table.render }}
</div>
{% endblock %}
