<noscript><h3>{{ step }}</h3></noscript>
<div class="row">
    <div class="col-sm-12">
      <div class="form form-horizontal" id="role-config-form">
        {% include "horizon/common/_horizontal_fields.html" %}
      </div>
    </div>
</div>
<script type="text/javascript">
  (window.$ || window.addHorizonLoadEvent)(function () {
      $(document).tooltip('hide'); // Prevent Horizon from adding tooltip.
      $('#role-config-form a.help-icon').click(function () {
          return false;
      }).popover({
          trigger: 'focus',
          placement: 'right',
          container: '#role-config-form'
      });
      $('#role-config-form a.password-button').popover({
          trigger: 'click',
          placement: 'right'
      });
  });
</script>
