{% extends 'infrastructure/base.html' %}
{% load i18n %}
{% load url from future %}
{% block title %}{% trans 'Role' %}: {{ role.name }}{% endblock %}

{% block page_header %}
  {% include 'horizon/common/_domain_page_header.html' with title=_('Deployment Role: ')|add:role.name %}
{% endblock page_header %}

{% block main %}

<div class="row">
  <div class="col-md-4">
    <h4 class="info">{% blocktrans count counter=nodes|length %}{{ counter }} instance{% plural %}{{ counter }} instances{% endblocktrans %}</h4>
    <dl class="dl-horizontal dl-horizontal-left">
      <dt>{% trans 'Flavor' %}</dt>
      {% if flavor %}
        <dd><em>{{ flavor.name }}</em> {{ flavor.get_keys.cpu_arch }} | {{ flavor.vcpus }} {% trans "CPU" %} | {{ flavor.ram }} {% trans "MB RAM" %} | {{ flavor.disk }} {% trans "GB HDD" %}</dd>
      {% else %}
        <dd>{% trans 'No flavor associated' %}</dd>
      {% endif %}
      <dt>{% trans 'Image' %}</dt>
      {% if image %}
        <dd>{{ image.name }}</dd>
      {% else %}
        <dd>{% trans 'No image associated' %}</dd>
      {% endif %}
    </dl>
  </div>
  <div class="col-md-8">
    {% if meter_conf %}
      {% url 'horizon:infrastructure:roles:performance' role.uuid as role_perf_url %}
      <div id="ceilometer-stats" class="row">
        <form class="form-inline performance_charts" id="linechart_general_form">
          <div class="pull-right">
            <div class="form-group">
              <div class="input-group input-group-sm">
                <div class="input-group-addon"><i class="fa fa-clock-o"></i></div>
                <select data-line-chart-command="select_box_change"
                        id="date_options"
                        name="date_options"
                        class="form-control">
                  <option value="0.041666">{% trans "Last hour" %}</option>
                  <option value="0.25">{% trans "Last 6 hours" %}</option>
                  <option value="0.5">{% trans "Last 12 hours" %}</option>
                  <option value="1" selected="selected">{% trans "Last day" %}</option>
                  <option value="7">{% trans "Last week" %}</option>
                  <option value="{% now 'j' %}">{% trans "Month to date" %}</option>
                  <option value="15">{% trans "Last 15 days" %}</option>
                  <option value="30">{% trans "Last 30 days" %}</option>
                  <option value="365">{% trans "Last year" %}</option>
                  <option value="other">{% trans "Other" %}</option>
                </select>
              </div>
            </div>
            <div class="form-group" id="date_from_group">
              <div class="input-group input-group-sm">
                <div class="input-group-addon">{% trans "From" %}</div>
                <input data-line-chart-command="date_picker_change"
                       type="text"
                       id="date_from"
                       name="date_from"
                       class="form-control"/>
              </div>
            </div>
            <div class="form-group" id="date_to_group">
              <div class="input-group input-group-sm">
                <div class="input-group-addon">{% trans "To" %}</div>
                <input data-line-chart-command="date_picker_change"
                       type="text"
                       id="date_to"
                       name="date_to"
                       class="form-control"/>
              </div>
            </div>
          </div>
        </form>
      </div>

      <script type="text/javascript">
        if (typeof $ !== 'undefined') {
          show_hide_datepickers();
        } else {
          addHorizonLoadEvent(function() {
            show_hide_datepickers();
          });
        }

        function show_hide_datepickers() {
          var date_options = $("#date_options");
          date_options.change(function(evt) {
            if ($(this).find("option:selected").val() === "other") {
              evt.stopPropagation();
              $("#date_from, #date_to").val('');
              $("#date_from_group, #date_to_group").show();
            } else {
              $("#date_from_group, #date_to_group").hide();
            }
          });
          if (date_options.find("option:selected").val() === "other") {
            $("#date_from_group, #date_to_group").show();
          } else {
            $("#date_from_group, #date_to_group").hide();
          }
        }
      </script>
      <div id="node-charts" class="row">
        {% for meter_label, url_part, y_max in meter_conf %}
        <div class="col-lg-4">
          {% include "infrastructure/_performance_chart.html" with label=meter_label y_max=y_max url=role_perf_url|add:"?"|add:url_part only %}
        </div>
        {% endfor %}
      </div>
    {% else %}
      <p>{% trans 'Metering service is not enabled.' %}</p>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ table.render }}
  </div>
</div>
{% endblock %}
