// buttons
.btn-default:not(.btn-danger, .btn-primary) {
  background: rgb(243, 243, 243);
  &:hover {
    background: rgb( 235, 235, 235);
  }
}

.btn-toolbar.pull-right {
  margin: 0;
}

.btn-no-border {
  border: none;
}
