// buttons
.btn,
input {
  border-radius: 2px;
}

.btn-group .btn:first-child {
  border-radius: 2px 0 0 2px;
}

.btn-group .btn:last-child {
  border-radius: 0 2px 2px 0;
}

.btn:not(.btn-danger) {
  background: rgb(243, 243, 243);

  &:hover {
    background: rgb( 235, 235, 235);
  }

  &.btn-primary {
    background: #0088cc;

    &:hover {
      background: #006Dcc;
    }
  }
}

.btn-toolbar.pull-right {
  margin: 0;
}

.modal-footer {
  .cancel {
    float: none;
    margin-right: 5px; // If the button doesn't have a close class.
  }

  .btn-primary {
    float: right;
  }
}