form.performance_charts {
    .pull-right {
        input {
            margin-left: 0;
        }
    }
}
.overview_chart {
    .chart_container {
        .spinner_wrapper {
            margin-top: 12px;
            margin-left: 12px;
        }
    }
}
