// flavor usages
div.flavor_usage_bar {
  max-width: 550px;
}

table.flavor_usages {
  width: 100%;
  max-width: 550px;

  td {
    text-align: center;
    padding: 3px;

    &.flavor_usage_label {
      width: 60px;
      text-align: center;
    }

    &.flavor_usage_text {
      width: 60px;
      text-align: center;
      line-height: 1;
    }

    & div.flavor_usage_bar {
      width: auto;
      text-align: center;
      line-height: 0;
      height: 120px;
    }
  }
}

#interval_selector {
  position: absolute;
  right: 15px;
  top: 15px;

  li {
    display: inline;
    list-style-type: none;
    padding-right: 5px;

    &.active {
      font-weight: bold;

      a {
        color: black;

        &:hover {
          text-decoration:none;
        }
      }
    }
  }
}

svg {
  .axis {
    path, line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
  }
}

.communication_chart_wrapper {
  display:inline-block;
  vertical-align: middle;
  width: 38%;
}

.communication_chart_connection {
  display:inline-block;
  width: 60px;
  height: 30px;
  vertical-align: middle;
  background: url('/static/dashboard/img/communication_flow.png') no-repeat 50% 50%;
  background-size: 40px 20px;
}

.circles_chart_time_picker {
  float: right;
}

.csv_rack_table {
  padding-top: 40px;
}
