#nodes-formset-datatable .datatable tbody {
  input {
    padding: 2px 1px;
  }
  input.number_input_slim {
    width: 3em;
  }
  td {
    padding: 2px;
    text-align: center;
    a.close {
        margin-right: 4px;
    }
  }
}

$link-color: #428bca;

// Register nodes formset
.register-nodes-formset {
  a.add-node-link {
    display: block;
    float: right;
  }

  .nav-pills > .active > a {
    color: #fff;
    background-color: $link-color;
  }

  ul.nav-pills > li span.delete-icon {
    display: none;
  }

  ul.nav-pills > li.active span.delete-icon {
    display: block;
    cursor: default;
    color: #fff;
    z-index: 1000;
    position: absolute;
    right: 16px;
    top: 10px;
  }

  ul.nav-pills > li {
    position: relative;
  }

  ul.nav-pills > li.active {
    width: 107%;
  }

  ul.nav-pills > li.active:after {
    display: block;
    content: '';
    position: absolute;
    top: 1px;
    right: -7px;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 8px solid $link-color;
  }

  .register-nav-head {
    margin-top: 19px;
    margin-bottom: 5px;

    h4 {
        margin: 0;
    }
  }

  .form h5 {
    margin: 0.5em 0 0.75em 0;
  }

  .form label.checkbox {
    font-weight: normal;
  }

  fieldset .form-field {
    input, textarea, select {
      width: 150px;
      margin-left: 5px;
    }
  }
}


#detail__overview {
  ul {
    list-style: disc;
    margin: 0 0 9px 25px;
  }
}

// Power state icons
.glyphicon.powerstate {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  background: $gray-lighter;
  border: 1px solid $gray-light;
  padding: .2em;
  &.glyphicon-play {
    color: $brand-success;
  }
}

// Node detail view
.node-details {
    #node-charts {
        margin-left: -20px;
    }

   .chart svg {
        height: 120px;
        width: 144px;

        path.undefined {
            stroke-width: 1px;
            stroke: #ff7f0e;
        }

        .y_ticks text {
            display: none;
        }
    }
}

// Node overview

.nodes {
  .widget-info {
    span {
      font-size: 200%;
    }
  }

  .d3_pie_chart_distribution {
    .legend {
      position: fixed;
    }
  }
}
