// Number picker widget
div.number_picker {
  margin: 5px 0;
  input {
    width: 35px;
    height: 30px;
    margin-bottom: 0;
    text-align: center;
  }
  a {
    width: 14px;
    &.disabled {
      cursor: default;
    }
  }
}
