// Number picker widget
div.number_picker {
  text-align: left;
  margin: 5px 14px;
  width: 35px;
  height: 35px;
  padding: 0;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  input {
      border: 0;
      width: 20px;
      display: block;
      margin: 8px auto;
      padding: 0;
      text-align: center;
      outline: 0;
  }
  a {
    display: block;
    width: 14px;
    position: absolute;
    top: 8px;
    cursor: default;
    &.disabled {
      cursor: default;
    }
    &.arrow-left {
      left: -12px;
    }
    &.arrow-right {
      right: -16px;
    }
  }
  &.readonly a {
      display: none;
  }
}
