/* Additional CSS for infrastructure. */
@import "/bootstrap/scss/bootstrap/variables";
@import "/dashboard/scss/variables";

@import "_numberpicker";
@import "_breadcrumbs";
@import "_buttons";
@import "_capacities";
@import "_flavor_usages";
@import "_formsets";
@import "_index_pages";
@import "_individual_pages";

// hide the project switcher from the top bar
#tenant_switcher {
    visibility: hidden;
}

// Some tables should not have a title because it just repeats the page title.
.no-table-title h3.table_title {
    display: none;
}
