/* Additional CSS for infrastructure. */
@import "/dashboard/scss/variables";
@import "/bootstrap/scss/bootstrap/variables";

@import "_numberpicker";
@import "_breadcrumbs";
@import "_buttons";
@import "_capacities";
@import "_flavor_usages";
@import "_formsets";
@import "_index_pages";
@import "_individual_pages";
@import "_tables";
