{% extends 'horizon/_scripts.html' %}
{% block custom_js_files %}
  <script src='{{ STATIC_URL }}infrastructure/js/horizon.capacity.js' type='text/javascript' charset='utf-8'></script>
  <script src='{{ STATIC_URL }}infrastructure/js/horizon.d3circleschart.js' type='text/javascript' charset='utf-8'></script>
  <script src='{{ STATIC_URL }}infrastructure/js/horizon.d3linechart.js' type='text/javascript' charset='utf-8'></script>
  <script src='{{ STATIC_URL }}infrastructure/js/horizon.d3singlebarchart.js' type='text/javascript' charset='utf-8'></script>
{% endblock %}
