{% load i18n sizeformat %}
{% load url from future %}

<div class="info row-fluid detail">
  <div class="span4">
    <h4>{% trans "About" %}</h4>
    <hr class="header_rule">
    <dl>
      <dt>{% trans "Name" %}</dt>
      <dd>{{ flavor_template.name|default:_("None") }}</dd>
      <dt>{% trans "Instances" %}</dt>
      <dd>{{ flavor_template.running_virtual_machines }}</dd>
    </dl>
  </div>

  <div class="span4">
    <h4>{% trans "Specification" %}</h4>
    <hr class="header_rule">
    <dl>
      <dt>{% trans "VCPU" %}</dt>
      <dd>{{ flavor_template.cpu.value }}</dd>
      <dt>{% trans "RAM" %}</dt>
      <dd>{{ flavor_template.memory.value }} {{ flavor_template.memory.unit }}</dd>
      <dt>{% trans "Root Disk" %}</dt>
      <dd>{{ flavor_template.storage.value }} {{ flavor_template.storage.unit }}</dd>
      <dt>{% trans "Ephemeral Disk" %}</dt>
      <dd>{{ flavor_template.ephemeral_disk.value }} {{ flavor_template.ephemeral_disk.unit }}</dd>
      <dt>{% trans "Swap Disk" %}</dt>
      <dd>{{ flavor_template.swap_disk.value }} {{ flavor_template.swap_disk.unit }}</dd>
    </dl>
  </div>

  <div class="span4">
    <h4>{% trans "Capacities" %}</h4>
    <hr class="header_rule">
    <table class="capacities">
      <tr>
        <td class="capacity_label">{% trans "CPU" %}:</td>
        <td>
          <div id="cpu_capacity_usage"
               class="capacity_bar"
               data-chart-type="capacity_bar_chart"
               data-capacity-limit="{{ flavor_template.cpu.value }}"
               data-capacity-used="{{ flavor_template.cpu.usage }}"
               data-average-capacity-used="{{ flavor_template.cpu.average }}">
          </div>
        </td>
        <td>
          <a href="#" data-chart-type="modal_line_chart" data-url="/infrastructure/resource_management/racks/usage_data" data-series="cpu">{{ flavor_template.cpu.usage }}/{{ flavor_template.cpu.value }} {{ flavor_template.cpu.unit }}</a>
        </td>
      </tr>
      <tr>
        <td class="capacity_label">{% trans "RAM" %}:</td>
        <td>
          <div id="ram_capacity_usage"
               class="capacity_bar"
               data-chart-type="capacity_bar_chart"
               data-capacity-limit="{{ flavor_template.memory.value }}"
               data-capacity-used="{{ flavor_template.memory.usage }}"
               data-average-capacity-used="{{ flavor_template.memory.average }}">
          </div>
        </td>
        <td>
          <a href="#" data-chart-type="modal_line_chart" data-url="/infrastructure/resource_management/racks/usage_data" data-series="ram">{{ flavor_template.memory.usage }}/{{ flavor_template.memory.value }} {{ flavor_template.memory.unit }}</a>
        </td>
      </tr>
      <tr>
        <td class="capacity_label">{% trans "Root Disk" %}:</td>
        <td>
          <div id="root_disk_capacity_usage"
               class="capacity_bar"
               data-chart-type="capacity_bar_chart"
               data-capacity-limit="{{ flavor_template.storage.value }}"
               data-capacity-used="{{ flavor_template.storage.usage }}"
               data-average-capacity-used="{{ flavor_template.storage.average }}">
          </div>
        </td>
        <td>
          <a href="#" data-chart-type="modal_line_chart" data-url="/infrastructure/resource_management/racks/usage_data" data-series="root_disk">{{ flavor_template.storage.usage }}/{{ flavor_template.storage.value }} {{ flavor_template.storage.unit }}</a>
        </td>
      </tr>
      <tr>
        <td class="capacity_label">{% trans "Ephemeral Disk" %}:</td>
        <td>
          <div id="ephemeral_disk_capacity_usage"
               class="capacity_bar"
               data-chart-type="capacity_bar_chart"
               data-capacity-limit="{{ flavor_template.ephemeral_disk.value }}"
               data-capacity-used="{{ flavor_template.ephemeral_disk.usage }}"
               data-average-capacity-used="{{ flavor_template.ephemeral_disk.average }}">
          </div>
        </td>
        <td>
          <a href="#" data-chart-type="modal_line_chart" data-url="/infrastructure/resource_management/racks/usage_data" data-series="ephemeral_disk">{{ flavor_template.ephemeral_disk.usage }}/{{ flavor_template.ephemeral_disk.value }} {{ flavor_template.ephemeral_disk.unit }}</a>
        </td>
      </tr>
      <tr>
        <td class="capacity_label">{% trans "Swap Disk" %}:</td>
        <td>
          <div id="swap_disk_capacity_usage"
               class="capacity_bar"
               data-chart-type="capacity_bar_chart"
               data-capacity-limit="{{ flavor_template.swap_disk.value }}"
               data-capacity-used="{{ flavor_template.swap_disk.usage }}"
               data-average-capacity-used="{{ flavor_template.swap_disk.average }}">
          </div>
        </td>
        <td>
          <a href="#" data-chart-type="modal_line_chart" data-url="/infrastructure/resource_management/racks/usage_data" data-series="ephemeral_disk">{{ flavor_template.swap_disk.usage }}/{{ flavor_template.swap_disk.value }} {{ flavor_template.swap_disk.unit }}</a>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="info row-fluid detail">
  <div class="span12">
    <h4>{% trans "Active Instances" %}</h4>
    <hr class="header_rule">
    <table class="chart">
      <tr>
        <td>
          <div data-chart-type="line_chart" data-url="{% url 'horizon:infrastructure:resource_management:flavor_templates:active_instances_data' flavor_template.id%}" data-series="active_instances"></div>
        </td>
      </tr>
    </table>
  </div>
</div>
