{% load i18n %}
{% load url from future%}


<div class="nodes row">
  <div class="col-xs-4">
    <div class="widget">
      <h3>{% trans 'Hardware Inventory' %}</h3>
      <div class="widget-info">
          <a href="{% url 'horizon:infrastructure:nodes:index' %}?tab=nodes__all">
            <span class="info">{{ nodes_all_count }} {% trans 'nodes' %}</span>
          </a>
      </div>
      <p>
        {{ cpus }} {% trans 'CPUs' %} | {{ memory_gb }} {% trans 'GB RAM' %} | {{ local_gb }} {% trans 'GB HDD' %}
      </p>
    </div>
    <div class="widget">
      <h3>{% trans 'Nodes Status' %}</h3>
      <div class="d3_pie_chart_distribution" data-used="{{ nodes_status_data }}"></div>
    </div>
    <div class="widget">
      <h3>{% trans 'Power Status' %}</h3>
      <div class="d3_pie_chart_distribution" data-used="Running={{ nodes_up_count }}|Stopped={{ nodes_down_count }}"></div>
    </div>
  </div>
  <div class="col-xs-8">
    <div class="nodes row">
      <div class="col-xs-12">
        <h3>{% trans "Provisioned nodes" %}</h3>
        <div class="widget-info">
          <a href="{% url 'horizon:infrastructure:nodes:index' %}?tab=nodes__provisioned">
            <span class="info">{{ nodes_provisioned_count }} {% trans 'provisioned nodes' %}</span>
          </a>
        </div>
        {% if nodes_provisioning_count %}
          <div class="widget-info">
            <i class="fa fa-spinner fa-spin text-info"></i><a href="{% url 'horizon:infrastructure:nodes:index' %}?tab=nodes__registered">
              {% blocktrans count nodes_provisioning_count as counter %}
                {{ counter }} node
              {% plural %}
                {{ counter }} nodes
              {% endblocktrans %}
            </a>
            {% blocktrans count nodes_provisioning_count as counter %}
              is being provisioned
            {% plural %}
              are being provisioned
            {% endblocktrans %}
          </div>
        {% endif %}
        {% if nodes_deleting_count %}
          <div class="widget-info">
            <i class="fa fa-spinner fa-spin text-info"></i><a href="{% url 'horizon:infrastructure:nodes:index' %}?tab=nodes__registered">
              {% blocktrans count nodes_deleting_count as counter %}
                {{ counter }} node
              {% plural %}
                {{ counter }} nodes
              {% endblocktrans %}
            </a>
            {% blocktrans count nodes_deleting_count as counter %}
              is being deleted
            {% plural %}
              are being deleted
            {% endblocktrans %}
          </div>
        {% endif %}
        {% if nodes_error_count %}
          <div class="widget-info">
            <i class="fa fa-exclamation-circle text-info"></i><a href="{% url 'horizon:infrastructure:nodes:index' %}?tab=nodes__registered">
              {% blocktrans count nodes_error_count as counter %}
                {{ counter }} node
              {% plural %}
                {{ counter }} nodes
              {% endblocktrans %}
            </a>
            {% blocktrans count nodes_error_count as counter %}
              {{ counter }} failed
            {% plural %}
              {{ counter }} failed
            {% endblocktrans %}
          </div>
        {% endif %}
      </div>
    </div>
    {% url 'horizon:infrastructure:nodes:nodes_performance' as node_perf_url %}
    {% include "infrastructure/_performance_chart_box.html" with meter_conf=meter_conf node_perf_url=node_perf_url col_size=4 %}
  </div>
</div>

